Repository bart-kroon/TM1: changes, and which GitLab CI jobs are due for each by the changed paths.
All: black, clang-format, GCC 9 Release, Clang 11 Debug, VC 16 Release, Integration Test, AsciiDoc

black:
  stage: check
  image:
    name: cytopia/black:latest
    entrypoint:
    - /bin/sh
    - -c
  tags:
  - linux
  script:
  - python3 -m black --check --diff scripts/

clang-format:
  stage: check
  image: cbachhuber/clang:11
  tags:
  - linux
  script:
  - ./scripts/check/clang_format.py
  - git diff
  - if [[ $(git diff) ]]; then echo "Formatting is wrong! See above."; return 1; fi

GCC 9 Release:
  stage: build
  image: rikorose/gcc-cmake:gcc-9
  tags:
  - linux
  script:
  - mkdir -p build && cd build
  - cmake -DCMAKE_CXX_FLAGS="-Wall -Wextra -Wpedantic -Werror -Wfloat-conversion" -DENABLE_CLANG_TIDY=OFF -DCMAKE_BUILD_TYPE=Release ..
  - make -j $(nproc)
  - make -j $(nproc) test

Clang 11 Debug:
  stage: build
  image: cbachhuber/clang:11
  tags:
  - linux
  - long-job
  script:
  - mkdir -p build && cd build
  - 'cmake -DCMAKE_CXX_FLAGS="-stdlib=libc++ -Wall -Wextra -Wpedantic -Werror -Wunreachable-code-aggressive -Wimplicit-int-conversion -fprofile-arcs -ftest-coverage" -DCMAKE_BUILD_TYPE=Debug ..
  
    '
  ...

VC 16 Release:
  stage: build
  image: buildtools2019:2021.03.04
  tags:
  - windows
  script:
  - mkdir -p build
  - cd build
  ...

Integration Test:
  stage: integration
  image: buildtools2019:2021.03.04
  dependencies:
  - VC 16 Release
  tags:
  - windows
  script:
  ...

AsciiDoc:
  stage: build
  image: asciidoctor/docker-asciidoctor:1.2
  tags:
  - linux
  script:
  - cd doc/test_model
  - asciidoctor --backend html5 -a data-uri index.adoc
  - mv index.html ../../test_model.html
  - asciidoctor-pdf -r asciidoctor-mathematical -a pdf-style=pdf_theme.yml index.adoc
  ...

Add sstream header for proper compilation
  source/Common/src/Json.cpp
Due: clang-format, GCC 9 Release, Clang 11 Debug, VC 16 Release, Integration Test

Add tag integration_test
  .gitlab/ci/integration_test.yml
Due: none

corrected usage
  source/Parser/src/Parser.main.cpp
Due: clang-format, GCC 9 Release, Clang 11 Debug, VC 16 Release, Integration Test

Make Multiplexer testable
  source/Encoder/CMakeLists.txt
  source/Encoder/include/TMIV/Encoder/Multiplexer.h
  source/Encoder/src/Multiplexer.cpp
  source/Encoder/src/Multiplexer.main.cpp
  source/Encoder/src/Multiplexer.test.cpp
Due: clang-format, GCC 9 Release, Clang 11 Debug, VC 16 Release, Integration Test

Resolve "Fix clang-format check in CI"
  scripts/check/clang_format.py
Due: black

Bump version to 8.2
  CMakeLists.txt
Due: clang-format, GCC 9 Release, Clang 11 Debug, VC 16 Release, Integration Test

clang-tidy --fix
  source/Common/include/TMIV/Common/Application.h
  source/Common/include/TMIV/Common/Array.h
  source/Common/include/TMIV/Common/Bitstream.h
  source/Common/include/TMIV/Common/Frame.h
  source/Common/include/TMIV/Common/Half.h
  source/Common/include/TMIV/Common/Json.h
  source/Common/include/TMIV/Common/Vector.h
  source/Decoder/include/TMIV/Decoder/MivDecoder.h
  source/Encoder/include/TMIV/Encoder/Encoder.h
  source/Encoder/include/TMIV/Encoder/ExplicitOccupancy.h
  source/Encoder/include/TMIV/Encoder/GeometryDownscaler.h
  source/Encoder/include/TMIV/Encoder/GroupBasedEncoder.h
  source/Encoder/include/TMIV/Encoder/MivEncoder.h
  source/Encoder/include/TMIV/Encoder/MpiEncoder.h
  source/MivBitstream/include/TMIV/MivBitstream/AccessUnitDelimiterRBSP.h
  source/MivBitstream/include/TMIV/MivBitstream/AtlasAdaptationParameterSetRBSP.h
  source/MivBitstream/include/TMIV/MivBitstream/AtlasFrameParameterSetRBSP.h
  source/MivBitstream/include/TMIV/MivBitstream/AtlasFrameParameterSetRBSP.hpp
  source/MivBitstream/include/TMIV/MivBitstream/AtlasSequenceParameterSetRBSP.h
  source/MivBitstream/include/TMIV/MivBitstream/AtlasTileLayerRBSP.h
  source/MivBitstream/include/TMIV/MivBitstream/CommonAtlasFrameMivExtension.h
  source/MivBitstream/include/TMIV/MivBitstream/CommonAtlasFrameMivExtension.hpp
  source/MivBitstream/include/TMIV/MivBitstream/CommonAtlasFrameRBSP.h
  source/MivBitstream/include/TMIV/MivBitstream/CommonAtlasSequenceParameterSetRBSP.h
  source/MivBitstream/include/TMIV/MivBitstream/GeometryUpscalingParameters.h
  source/MivBitstream/include/TMIV/MivBitstream/PatchParamsList.h
  source/MivBitstream/include/TMIV/MivBitstream/RecViewport.h
  source/MivBitstream/include/TMIV/MivBitstream/SequenceConfig.h
  source/MivBitstream/include/TMIV/MivBitstream/ViewingSpaceHandling.h
  source/MivBitstream/include/TMIV/MivBitstream/VuiParameters.h
  source/Packer/include/TMIV/Packer/IPacker.h
  source/Packer/include/TMIV/Packer/Packer.h
  source/Pruner/include/TMIV/Pruner/IPruner.h
  source/Renderer/include/TMIV/Renderer/reprojectPoints.h
  source/VideoDecoder/include/TMIV/VideoDecoder/HmVideoDecoder.h
  source/ViewOptimizer/include/TMIV/ViewOptimizer/AbstractViewSelector.h
  source/ViewOptimizer/include/TMIV/ViewOptimizer/BasicViewAllocator.h
  source/ViewOptimizer/include/TMIV/ViewOptimizer/KMedoidsCost.h
  source/ViewOptimizer/include/TMIV/ViewOptimizer/ServerSideInpainter.h
  source/ViewingSpace/include/TMIV/ViewingSpace/SignedDistance.h
Due: clang-format, GCC 9 Release, Clang 11 Debug, VC 16 Release, Integration Test

First batch of manual clang-tidy fixes
  source/Common/include/TMIV/Common/Bitstream.h
  source/Common/include/TMIV/Common/Common.h
  source/Common/include/TMIV/Common/Frame.h
  source/Common/include/TMIV/Common/LinAlg.h
  source/Common/include/TMIV/Common/LinAlg.hpp
  source/Common/include/TMIV/Common/verify.h
  source/MivBitstream/src/NalSampleStreamFormat.cpp
  source/MivBitstream/src/V3cSampleStreamFormat.cpp
Due: clang-format, GCC 9 Release, Clang 11 Debug, VC 16 Release, Integration Test

Rev "Remove unused --ci flag"
  source/Common/include/TMIV/Common/Frame.h
  source/Common/src/Frame.cpp
  source/Encoder/src/MpiEncoder.cpp
Due: clang-format, GCC 9 Release, Clang 11 Debug, VC 16 Release, Integration Test

Resolve "C++14 flag for v8.0"
  cmake/VVenC.cmake
Due: clang-format, GCC 9 Release, Clang 11 Debug, VC 16 Release, Integration Test

Add Multiplexer unit tests
  source/Encoder/src/Multiplexer.test.cpp
Due: clang-format, GCC 9 Release, Clang 11 Debug, VC 16 Release, Integration Test

rev "Remove line from integration test"
  .gitlab-ci.yml
  .gitlab/ci/integration_test.yml
Due: clang-format, GCC 9 Release, Clang 11 Debug, VC 16 Release, Integration Test

2nd batch of clang-tidy fixes
  source/Renderer/CMakeLists.txt
  source/Renderer/include/TMIV/Renderer/Engine_ERP.hpp
  source/Renderer/include/TMIV/Renderer/Engine_Orthographic.hpp
  source/Renderer/include/TMIV/Renderer/Engine_Perspective.hpp
  source/Renderer/include/TMIV/Renderer/MpiRasterizer.hpp
  source/Renderer/include/TMIV/Renderer/Rasterizer.hpp
  source/Renderer/include/TMIV/Renderer/reprojectPoints.h
  source/Renderer/src/Rasterizer.cpp
  source/VideoDecoder/include/TMIV/VideoDecoder/IVideoDecoder.h
  source/VideoDecoder/src/HmVideoDecoder.cpp
  source/ViewingSpace/include/TMIV/ViewingSpace/SignedDistance.h
  source/ViewingSpace/include/TMIV/ViewingSpace/ViewingSpaceEvaluator.h
Due: clang-format, GCC 9 Release, Clang 11 Debug, VC 16 Release, Integration Test

Don't accept MRs with multiline commit messages
  .gitlab/ci/checks.yml
Due: black

Parsing additional parameters in json that enable packing information in multiplexing process
  config/test/packing/P_1_TMIV_encode.json
  config/test/packing/P_2_VTM_encode_geo.cfg
  config/test/packing/P_2_VTM_encode_tex.cfg
  config/test/packing/P_3_TMIV_mux.json
  source/Encoder/include/TMIV/Encoder/Multiplexer.h
  source/Encoder/src/Multiplexer.cpp
  source/Encoder/src/Multiplexer.main.cpp
  source/Encoder/src/Multiplexer.test.cpp
  source/IO/include/TMIV/IO/IO.h
  source/IO/src/load.cpp
  source/MivBitstream/include/TMIV/MivBitstream/V3cParameterSet.h
  source/MivBitstream/src/V3cParameterSet.cpp
  source/MivBitstream/src/V3cParameterSet.test.cpp
Due: clang-format, GCC 9 Release, Clang 11 Debug, VC 16 Release, Integration Test

Third batch of manual clang-tidy fixes
  source/Encoder/src/Encoder_completeAccessUnit.cpp
  source/Encoder/src/ExplicitOccupancy.cpp
  source/Encoder/src/GeometryQuantizer.cpp
  source/Encoder/src/GroupBasedEncoder.cpp
  source/Encoder/src/MivEncoder.cpp
  source/Encoder/src/MpiEncoder.cpp
  source/MivBitstream/include/TMIV/MivBitstream/AtlasAdaptationParameterSetRBSP.h
  source/MivBitstream/include/TMIV/MivBitstream/AtlasAdaptationParameterSetRBSP.hpp
  source/MivBitstream/include/TMIV/MivBitstream/AtlasFrameParameterSetRBSP.h
  source/MivBitstream/include/TMIV/MivBitstream/AtlasFrameParameterSetRBSP.hpp
  source/MivBitstream/include/TMIV/MivBitstream/AtlasSequenceParameterSetRBSP.h
  source/MivBitstream/include/TMIV/MivBitstream/AtlasSequenceParameterSetRBSP.hpp
  source/MivBitstream/include/TMIV/MivBitstream/AtlasTileLayerRBSP.h
  source/MivBitstream/include/TMIV/MivBitstream/AtlasTileLayerRBSP.hpp
  source/MivBitstream/include/TMIV/MivBitstream/CommonAtlasFrameRBSP.h
  source/MivBitstream/include/TMIV/MivBitstream/CommonAtlasFrameRBSP.hpp
  source/MivBitstream/include/TMIV/MivBitstream/PackedIndependentRegions.h
  source/MivBitstream/include/TMIV/MivBitstream/PackedIndependentRegions.hpp
  source/MivBitstream/include/TMIV/MivBitstream/PatchParamsList.h
  source/MivBitstream/include/TMIV/MivBitstream/PatchParamsList.hpp
  source/MivBitstream/include/TMIV/MivBitstream/V3cUnit.h
  source/MivBitstream/include/TMIV/MivBitstream/ViewingSpace.h
  source/Packer/src/Packer.cpp
Due: clang-format, GCC 9 Release, Clang 11 Debug, VC 16 Release, Integration Test

Use ccache to speed up gcc and clang builds
  .gitlab/ci/builds.yml
Due: none

Copy dependencies from docker container
  .gitlab/ci/builds.yml
Due: none

fix concurrent writing/reading multiple threads
  source/Renderer/src/ViewWeightingSynthesizer.cpp
  test/ci_integration_test.md5
Due: clang-format, GCC 9 Release, Clang 11 Debug, VC 16 Release, Integration Test

Modernize arrays
  source/Common/include/TMIV/Common/Algorithm.h
  source/Common/include/TMIV/Common/Array.h
  source/Common/include/TMIV/Common/Json.h
  source/Common/include/TMIV/Common/Json.hpp
  source/Common/include/TMIV/Common/LinAlg.h
  source/Common/include/TMIV/Common/LinAlg.hpp
  source/Common/include/TMIV/Common/Matrix.h
  source/Common/include/TMIV/Common/Matrix.hpp
  source/Common/include/TMIV/Common/Vector.h
  source/Common/src/Matrix.test.cpp
  source/MivBitstream/src/ViewingSpace.cpp
  source/Pruner/src/HierarchicalPruner.cpp
  source/Pruner/src/LumaStdDev.cpp
  source/Renderer/src/AdditiveSynthesizer.cpp
  source/Renderer/src/SubBlockCuller.cpp
  source/Renderer/src/ViewWeightingSynthesizer.cpp
  source/Renderer/src/reprojectPoints.cpp
  source/ViewOptimizer/src/ServerSideInpainter.cpp
Due: clang-format, GCC 9 Release, Clang 11 Debug, VC 16 Release, Integration Test

Enable clang-tidy for all TMIV sources and header files
  .clang-tidy
  cmake/test_creation.cmake
  source/Common/include/TMIV/Common/Frame.hpp
  source/Common/include/TMIV/Common/LinAlg.h
  source/Common/include/TMIV/Common/LinAlg.hpp
  source/Common/src/Bytestream.cpp
  source/Decoder/include/TMIV/Decoder/MivDecoder.h
  source/Decoder/src/MivDecoder.cpp
  source/Encoder/src/Encoder.main.cpp
  source/Encoder/src/Encoder_completeAccessUnit.cpp
  source/Encoder/src/GroupBasedEncoder.cpp
  source/Encoder/src/MpiEncoder.cpp
  source/Encoder/src/MpiEncoder.main.cpp
  source/MivBitstream/include/TMIV/MivBitstream/CommonAtlasFrameMivExtension.h
  source/MivBitstream/include/TMIV/MivBitstream/CommonAtlasFrameMivExtension.hpp
  source/MivBitstream/include/TMIV/MivBitstream/PatchParamsList.h
  source/MivBitstream/include/TMIV/MivBitstream/PatchParamsList.hpp
  source/MivBitstream/src/AtlasSequenceParameterSetRBSP.cpp
  source/MivBitstream/src/CommonAtlasFrameMivExtension.cpp
  source/MivBitstream/src/NalSampleStreamFormat.cpp
  source/MivBitstream/src/NalUnit.cpp
  source/MivBitstream/src/PatchParamsList.cpp
  source/MivBitstream/src/SceneObjectInformation.cpp
  source/MivBitstream/src/SeiRBSP.cpp
  source/MivBitstream/src/V3cSampleStreamFormat.cpp
  source/MivBitstream/src/VideoSubBitstream.cpp
  source/MpiPcs/src/MpiPcs.cpp
  source/Packer/src/Retriever.cpp
  source/Parser/src/BitrateReport.main.cpp
  source/Pruner/src/HierarchicalPruner.cpp
  source/Pruner/src/LumaStdDev.cpp
  source/Renderer/include/TMIV/Renderer/Engine_ERP.hpp
  source/Renderer/include/TMIV/Renderer/reprojectPoints.h
  source/Renderer/src/AdditiveSynthesizer.cpp
  source/Renderer/src/Inpainter.cpp
  source/Renderer/src/MpiSynthesizer.cpp
  source/Renderer/src/ViewWeightingSynthesizer.cpp
  source/Renderer/src/reprojectPoints.cpp
  source/ViewOptimizer/src/ServerSideInpainter.cpp
Due: clang-format, GCC 9 Release, Clang 11 Debug, VC 16 Release, Integration Test

cppcoreguidelines-pro-bounds-array-to-pointer-decay
  .clang-tidy
  source/Common/include/TMIV/Common/Application.h
  source/Common/include/TMIV/Common/Array.h
  source/Common/include/TMIV/Common/Common.h
  source/Common/include/TMIV/Common/Filter.h
  source/Common/include/TMIV/Common/Frame.h
  source/Common/include/TMIV/Common/verify.h
  source/Common/src/Frame.cpp
  source/MivBitstream/include/TMIV/MivBitstream/PatchParamsList.hpp
  source/MivBitstream/include/TMIV/MivBitstream/ViewingSpace.h
  source/MivBitstream/src/DepthOccupancyTransform.cpp
  source/Renderer/include/TMIV/Renderer/AccumulatingPixel.h
  source/Renderer/include/TMIV/Renderer/Rasterizer.hpp
  source/ViewingSpace/src/SignedDistance.cpp
  source/ViewingSpace/src/ViewingSpaceEvaluator.cpp
Due: clang-format, GCC 9 Release, Clang 11 Debug, VC 16 Release, Integration Test

cppcoreguidelines-pro-bounds-constant-array-index
  .clang-tidy
  source/Common/include/TMIV/Common/Array.h
  source/Common/include/TMIV/Common/Frame.hpp
  source/Common/include/TMIV/Common/verify.h
  source/Decoder/src/Decoder.cpp
  source/Decoder/src/GeometryScaler.cpp
  source/Decoder/src/MivDecoder.cpp
  source/Encoder/src/Encoder_completeAccessUnit.cpp
  source/Renderer/src/PushPull.test.cpp
  source/Renderer/src/PushPullInpainter.cpp
  source/Renderer/src/SubBlockCuller.cpp
  source/Renderer/src/ViewWeightingSynthesizer.cpp
  source/VideoDecoder/src/HmVideoDecoder.cpp
Due: clang-format, GCC 9 Release, Clang 11 Debug, VC 16 Release, Integration Test

Upgrade to Win10 1909
  .gitlab/ci/builds.yml
  .gitlab/ci/integration_test.yml
  scripts/docker/buildtools2019/Dockerfile
Due: none

adaptive texture pruning fix
  source/Encoder/src/Encoder_prepareSequence.cpp
Due: clang-format, GCC 9 Release, Clang 11 Debug, VC 16 Release, Integration Test

types changed
  source/Common/include/TMIV/Common/Frame.h
  source/MpiPcs/include/TMIV/MpiPcs/MpiPcs.h
  source/MpiPcs/src/MpiPcs.cpp
Due: clang-format, GCC 9 Release, Clang 11 Debug, VC 16 Release, Integration Test

Multiline commit check: also count message last message without newline
  .gitlab/ci/checks.yml
Due: black

Don't compare MD5 files in dry run
  scripts/test/integration_test.py
Due: black

Fix
  scripts/test/integration_test.py
Due: black

Refactor integration_test.py: single source of truth for resolutions
  scripts/test/integration_test.py
Due: black

Resolve "dq_depth_occ_map_threshold_default is not optional"
  scripts/test/integration_test.py
  source/Decoder/src/OccupancyReconstructor.cpp
  source/Encoder/src/GeometryQuantizer.cpp
  source/Encoder/src/GeometryQuantizer.test.cpp
  source/MivBitstream/include/TMIV/MivBitstream/CommonAtlasFrameMivExtension.h
  source/MivBitstream/include/TMIV/MivBitstream/CommonAtlasFrameMivExtension.hpp
  source/MivBitstream/include/TMIV/MivBitstream/DepthOccupancyTransform.hpp
  source/MivBitstream/src/CommonAtlasFrameMivExtension.cpp
  source/MivBitstream/src/CommonAtlasFrameMivExtension.test.cpp
  source/MivBitstream/src/DepthOccupancyTransform.test.cpp
  test/ci_integration_test.md5
Due: black, clang-format, GCC 9 Release, Clang 11 Debug, VC 16 Release, Integration Test

Resolve "Remove casme_omaf_v1_compatible_flag"
  config/ctc/best_reference/R_1_TMIV_render.json
  config/ctc/miv_anchor/A_1_TMIV_encode.json
  config/ctc/miv_dsde_anchor/G_1_TMIV_encode.json
  config/ctc/miv_dsde_anchor/G_6_TMIV_render.json
  config/ctc/miv_view_anchor/V_1_TMIV_encode.json
  config/test/additive_synthesizer/S_1_TMIV_render.json
  config/test/entity_based_coding/E_1_TMIV_encode.json
  config/test/explicit_occupancy/O_1_TMIV_encode.json
  config/test/geometry_only/N_1_TMIV_encode.json
  config/test/group_based_coding/U_1_TMIV_encode.json
  config/test/miv_in-band_hm/H_1_TMIV_encode.json
  config/test/packing/P_1_TMIV_encode.json
  doc/configuring.md
  source/Encoder/include/TMIV/Encoder/Encoder.h
  source/Encoder/src/Encoder.cpp
  source/Encoder/src/Encoder_prepareSequence.cpp
  source/MivBitstream/include/TMIV/MivBitstream/CommonAtlasSequenceParameterSetRBSP.h
  source/MivBitstream/include/TMIV/MivBitstream/CommonAtlasSequenceParameterSetRBSP.hpp
  source/MivBitstream/src/CommonAtlasSequenceParameterSetRBSP.cpp
  source/MivBitstream/src/CommonAtlasSequenceParameterSetRBSP.test.cpp
  test/ci_integration_test.md5
Due: clang-format, GCC 9 Release, Clang 11 Debug, VC 16 Release, Integration Test

Resolve "Extra flags in vps_miv_extension"
  source/MivBitstream/src/V3cParameterSet.cpp
  test/ci_integration_test.md5
Due: clang-format, GCC 9 Release, Clang 11 Debug, VC 16 Release, Integration Test

Resolve "Enable NO_INTERNET on Windows runner"
  .gitlab/ci/builds.yml
  .gitlab/ci/integration_test.yml
  scripts/docker/buildtools2019/.gitignore
  scripts/docker/buildtools2019/Dockerfile
  scripts/docker/buildtools2019/README.md
Due: none

Resolve "video_sub_bitstream format"
  source/Decoder/include/TMIV/Decoder/MivDecoder.h
  source/Decoder/src/MivDecoder.cpp
  source/Encoder/CMakeLists.txt
  source/Encoder/include/TMIV/Encoder/AnnexB.h
  source/Encoder/include/TMIV/Encoder/AnnexB.hpp
  source/Encoder/include/TMIV/Encoder/Multiplexer.h
  source/Encoder/src/AnnexB.test.cpp
  source/Encoder/src/Multiplexer.cpp
  source/Encoder/src/Multiplexer.test.cpp
  source/MivBitstream/include/TMIV/MivBitstream/V3cUnit.h
  source/MivBitstream/src/V3cUnit.cpp
  source/MivBitstream/src/V3cUnit.test.cpp
  source/VideoDecoder/CMakeLists.txt
  source/VideoDecoder/include/TMIV/VideoDecoder/IVideoDecoder.h
  source/VideoDecoder/include/TMIV/VideoDecoder/VideoDecoderBase.h
  source/VideoDecoder/include/TMIV/VideoDecoder/VideoDecoderFactory.h
  source/VideoDecoder/src/HmVideoDecoder.cpp
  source/VideoDecoder/src/VideoDecoder.main.cpp
  source/VideoDecoder/src/VideoDecoderBase.cpp
  source/VideoDecoder/src/VideoDecoderFactory.cpp
  source/VideoDecoder/src/VideoServer.cpp
  test/ci_integration_test.md5
Due: clang-format, GCC 9 Release, Clang 11 Debug, VC 16 Release, Integration Test

Unify dependency folder names between gcc/clang and MSVC
  .gitlab/ci/builds.yml
Due: none

Fix cppcoreguidelines-pro-bounds-constant-array-index violations
  source/MivBitstream/src/VuiParameters.cpp
Due: clang-format, GCC 9 Release, Clang 11 Debug, VC 16 Release, Integration Test

Resolve "Integrate VVdeC into TMIV"
  .gitlab/ci/builds.yml
  cmake/VVenC.cmake
  config/ctc/miv_anchor/A_1_TMIV_encode.json
  config/ctc/miv_dsde_anchor/G_1_TMIV_encode.json
  config/ctc/miv_view_anchor/V_1_TMIV_encode.json
  config/test/entity_based_coding/E_1_TMIV_encode.json
  config/test/explicit_occupancy/O_1_TMIV_encode.json
  config/test/geometry_only/N_1_TMIV_encode.json
  config/test/miv_anchor/A_3_TMIV_mux.json
  config/test/miv_in-band_hm/H_1_TMIV_encode.json
  config/test/miv_in-band_hm/H_2_HM_encode_geo.cfg
  config/test/miv_in-band_hm/H_2_HM_encode_tex.cfg
  config/test/miv_in-band_hm/H_3_TMIV_mux.json
  config/test/miv_in-band_hm/H_4_TMIV_decode.json
  config/test/miv_mpi/M_1_TMIV_encode.json
  config/test/packing/P_1_TMIV_encode.json
  doc/building.md
  scripts/test/integration_test.py
  source/Common/include/TMIV/Common/verify.h
  source/Encoder/CMakeLists.txt
  source/Encoder/include/TMIV/Encoder/Configuration.h
  source/Encoder/include/TMIV/Encoder/Encoder.h
  source/Encoder/src/Configuration.cpp
  source/Encoder/src/Configuration.test.cpp
  source/Encoder/src/Encoder.cpp
  source/Encoder/src/Encoder_prepareSequence.cpp
  source/VideoDecoder/CMakeLists.txt
  source/VideoDecoder/include/TMIV/VideoDecoder/IVideoDecoder.h
  source/VideoDecoder/include/TMIV/VideoDecoder/VVdeCVideoDecoder.h
  source/VideoDecoder/include/TMIV/VideoDecoder/VideoDecoderBase.h
  source/VideoDecoder/src/VVdeCVideoDecoder.cpp
  source/VideoDecoder/src/VideoDecoderBase.test.cpp
  source/VideoDecoder/src/VideoDecoderFactory.test.cpp
  test/ci_integration_test.md5
Due: black, clang-format, GCC 9 Release, Clang 11 Debug, VC 16 Release, Integration Test

Path conditions:
  black: (any of: **/*.py) or (any of: **/*.py, .gitlab/ci/checks.yml)
  clang-format: any of: .clang-format, .clang-tidy, .gitlab-ci.yml, **/CMakeLists.txt, **/*.cmake, **/*.cmake.in, **/*.cpp, **/*.h, **/*.hpp
  GCC 9 Release: any of: .clang-format, .clang-tidy, .gitlab-ci.yml, **/CMakeLists.txt, **/*.cmake, **/*.cmake.in, **/*.cpp, **/*.h, **/*.hpp
  Clang 11 Debug: any of: .clang-format, .clang-tidy, .gitlab-ci.yml, **/CMakeLists.txt, **/*.cmake, **/*.cmake.in, **/*.cpp, **/*.h, **/*.hpp
  VC 16 Release: any of: .clang-format, .clang-tidy, .gitlab-ci.yml, **/CMakeLists.txt, **/*.cmake, **/*.cmake.in, **/*.cpp, **/*.h, **/*.hpp
  Integration Test: any of: .clang-format, .clang-tidy, .gitlab-ci.yml, **/CMakeLists.txt, **/*.cmake, **/*.cmake.in, **/*.cpp, **/*.h, **/*.hpp
  AsciiDoc: (any of: doc/test_model/**/*) or (any of: .gitlab/ci/asciidoc.yml, doc/test_model/**/*)
