Repository bart-kroon/TM1: changes, and which GitLab CI jobs are due for each by the changed paths.
All: black, clang-format, GCC 9 Release, Clang 11 Debug, VC 16 Release, Integration Test, AsciiDoc, pytest

black:
  stage: check
  image:
    name: cytopia/black:latest
    entrypoint:
    - /bin/sh
    - -c
  tags:
  - linux
  script:
  - python3 -m black --check --diff scripts/

clang-format:
  stage: check
  image: cbachhuber/clang:11
  tags:
  - linux
  script:
  - ./scripts/check/clang_format.py
  - git diff
  - if [[ $(git diff) ]]; then echo "Formatting is wrong! See above."; return 1; fi

GCC 9 Release:
  stage: build
  image: rikorose/gcc-cmake:gcc-9
  tags:
  - linux
  script:
  - mkdir -p build && cd build
  - cmake -DCMAKE_CXX_FLAGS="-Wall -Wextra -Wpedantic -Werror -Wfloat-conversion" -DENABLE_CLANG_TIDY=OFF -DCMAKE_BUILD_TYPE=Release ..
  - make -j $(nproc)
  - make -j $(nproc) test

Clang 11 Debug:
  stage: build
  image: cbachhuber/clang:11
  tags:
  - linux
  - long-job
  script:
  - mkdir -p build && cd build
  - 'cmake -DCMAKE_CXX_FLAGS="-stdlib=libc++ -Wall -Wextra -Wpedantic -Werror -Wunreachable-code-aggressive -Wimplicit-int-conversion -fprofile-arcs -ftest-coverage" -DCMAKE_BUILD_TYPE=Debug ..
  
    '
  ...

VC 16 Release:
  stage: build
  image: buildtools2019:2021.03.04
  tags:
  - windows
  script:
  - mkdir -p build
  - cd build
  ...

Integration Test:
  stage: integration
  image: buildtools2019:2021.03.04
  dependencies:
  - VC 16 Release
  tags:
  - windows
  script:
  ...

AsciiDoc:
  stage: build
  image: asciidoctor/docker-asciidoctor:1.2
  tags:
  - linux
  script:
  - cd doc/test_model
  - asciidoctor --backend html5 -a data-uri index.adoc
  - mv index.html ../../test_model.html
  - asciidoctor-pdf -r asciidoctor-mathematical -a pdf-style=pdf_theme.yml index.adoc
  ...

pytest:
  stage: check
  image: python:latest
  tags:
  - linux
  cache:
    paths:
    - .cache/pip
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  before_script:
  - python3 -m pip install pytest pyfakefs
  script:
  - pytest scripts

Add yuv+json scaling scripts and scaled jsons
  .gitlab/ci/checks.yml
  config/test/sequences/TC.json
  config/test/sequences/TD.json
  config/test/sequences/TE.json
  config/test/sequences/TM.json
  config/test/sequences/TN.json
  config/test/sequences/TO.json
  scripts/common/__init__.py
  scripts/common/video_types.py
  scripts/test/integration_test.py
  scripts/tools/README.md
  scripts/tools/scale_sequence_json.py
  scripts/tools/scale_sequence_yuvs.py
  scripts/tools/test/scale_sequence_json_test.py
  scripts/tools/test/scale_sequence_yuvs_test.py
Due: black, pytest

Update ignore list
  .gitignore
Due: none

Use downscaled content in integration test
  .gitlab/ci/integration_test.yml
  config/test/miv_mpi/M_1_TMIV_encode.json
  config/test/sequences/TM.json
  scripts/test/integration_test.py
  source/Encoder/src/MpiEncoder.cpp
  test/ci_integration_test.md5
Due: black, clang-format, GCC 9 Release, Clang 11 Debug, VC 16 Release, Integration Test, pytest

Resolve "Specifying the number of thread for TMIV (+preserve exactness)"
  .gitlab/ci/integration_test.yml
  source/Common/include/TMIV/Common/Thread.h
  source/Common/src/Application.cpp
  source/Renderer/include/TMIV/Renderer/MpiRasterizer.hpp
  source/Renderer/include/TMIV/Renderer/Rasterizer.hpp
Due: clang-format, GCC 9 Release, Clang 11 Debug, VC 16 Release, Integration Test

Do not constrain threads in integration test
  .gitlab/ci/integration_test.yml
Due: none

Align integration test rules with build rules
  .gitlab-ci.yml
  .gitlab/ci/integration_test.yml
Due: clang-format, GCC 9 Release, Clang 11 Debug, VC 16 Release, Integration Test

Cache VC16 build directory
  .gitlab/ci/builds.yml
Due: none

Update default mpeg meeting label in issue template
  .gitlab/issue_templates/Implement meeting decision.md
Due: none

Viewport camera parameters sei
  config/ctc/miv_anchor/A_1_TMIV_encode.json
  config/ctc/miv_dsde_anchor/G_1_TMIV_encode.json
  config/ctc/miv_view_anchor/V_1_TMIV_encode.json
  config/test/entity_based_coding/E_1_TMIV_encode.json
  config/test/explicit_occupancy/O_1_TMIV_encode.json
  config/test/geometry_only/N_1_TMIV_encode.json
  config/test/group_based_coding/U_1_TMIV_encode.json
  config/test/miv_mpi/M_1_TMIV_encode.json
  config/test/packing/P_1_TMIV_encode.json
  source/Common/include/TMIV/Common/Bitstream.h
  source/Decoder/include/TMIV/Decoder/CommonAtlasDecoder.h
  source/Decoder/src/CommonAtlasDecoder.cpp
  source/Decoder/src/MivDecoder.cpp
  source/Encoder/include/TMIV/Encoder/Configuration.h
  source/Encoder/include/TMIV/Encoder/MivEncoder.h
  source/Encoder/src/Configuration.cpp
  source/Encoder/src/Configuration.test.cpp
  source/Encoder/src/Encoder_prepareSequence.cpp
  source/Encoder/src/MivEncoder.cpp
  source/Encoder/src/MpiEncoder.cpp
  source/MivBitstream/CMakeLists.txt
  source/MivBitstream/include/TMIV/MivBitstream/AccessUnit.h
  source/MivBitstream/include/TMIV/MivBitstream/ViewportCameraParameters.h
  source/MivBitstream/include/TMIV/MivBitstream/ViewportPosition.h
  source/MivBitstream/src/ViewportCameraParameters.cpp
  source/MivBitstream/src/ViewportCameraParameters.test.cpp
  source/MivBitstream/src/ViewportPosition.cpp
  source/MivBitstream/src/ViewportPosition.test.cpp
  source/Parser/src/Parser.cpp
Due: clang-format, GCC 9 Release, Clang 11 Debug, VC 16 Release, Integration Test

no need for duplicate inforamtion filling_ and numActivePixels_ ==> keeping the more meaningfull name
  source/Packer/include/TMIV/Packer/Cluster.h
  source/Packer/include/TMIV/Packer/Retriever.h
  source/Packer/src/Cluster.cpp
  source/Packer/src/Packer.cpp
  source/Packer/src/Retriever.cpp
  source/Packer/src/Retriever.test.cpp
Due: clang-format, GCC 9 Release, Clang 11 Debug, VC 16 Release, Integration Test

Remove frame ranges
  config/ctc/miv_dsde_anchor/G_1_TMIV_encode.json
  config/ctc/sequences/A.json
  config/ctc/sequences/B.json
  config/ctc/sequences/D.json
  config/ctc/sequences/E.json
  config/ctc/sequences/I.json
  config/ctc/sequences/L.json
  config/ctc/sequences/M.json
  config/ctc/sequences/N.json
  config/ctc/sequences/P.json
  config/ctc/sequences/Q.json
  config/ctc/sequences/T.json
  config/ctc/sequences/U.json
  config/test/miv_mpi/M_1_TMIV_encode.json
  config/test/miv_mpi/M_5_MPI_transcode.json
  config/test/sequences/TD.json
  config/test/sequences/TE.json
  config/test/sequences/TM.json
  config/test/sequences/TN.json
  scripts/test/integration_test.py
  source/Encoder/CMakeLists.txt
  source/Encoder/src/Encoder.main.cpp
  source/Encoder/src/MivEncoder.test.cpp
  source/IO/include/TMIV/IO/IO.h
  source/IO/src/load.cpp
  source/MivBitstream/include/TMIV/MivBitstream/SequenceConfig.h
  source/MivBitstream/src/SequenceConfig.cpp
  source/MivBitstream/src/SequenceConfig.test.cpp
  source/MpiPcs/src/MpiPcs.cpp
  source/MpiPcs/src/MpiPcs.main.cpp
  source/Renderer/src/Renderer.main.cpp
Due: black, clang-format, GCC 9 Release, Clang 11 Debug, VC 16 Release, Integration Test, pytest

Resolve "UB in PduMivExtension::decodeFrom"
  source/MivBitstream/src/AtlasTileLayerRBSP.cpp
Due: clang-format, GCC 9 Release, Clang 11 Debug, VC 16 Release, Integration Test

Document start frame (-f) parameter
  doc/running.md
Due: none

Resolve "Ability to print out the version in the reference software."
  source/Common/CMakeLists.txt
  source/Common/include/TMIV/Common/Version.h.in
  source/Common/src/Application.cpp
Due: clang-format, GCC 9 Release, Clang 11 Debug, VC 16 Release, Integration Test

Update SubBlockCuller.cpp
  source/Renderer/src/SubBlockCuller.cpp
  test/ci_integration_test.md5
Due: clang-format, GCC 9 Release, Clang 11 Debug, VC 16 Release, Integration Test

Adding Trio config files
  config/ctc/pose_traces/Vp01.csv
  config/ctc/pose_traces/Vp02.csv
  config/ctc/pose_traces/Vp03.csv
  config/ctc/sequences/V.json
  config/ctc/sequences/V.md5
Due: none

Removing conformanceWindowValue from Explicit occupancy since it is better to be dealt with at encoder level
  config/test/explicit_occupancy/O_1_TMIV_encode.json
  config/test/explicit_occupancy/O_2_HM_encode_geo.cfg
  config/test/explicit_occupancy/O_2_HM_encode_occ.cfg
  config/test/explicit_occupancy/O_2_HM_encode_tex.cfg
  config/test/explicit_occupancy/O_2_VVenC_encode_geo.cfg
  config/test/explicit_occupancy/O_2_VVenC_encode_occ.cfg
  config/test/explicit_occupancy/O_2_VVenC_encode_tex.cfg
  config/test/explicit_occupancy/O_3_TMIV_mux.json
  config/test/explicit_occupancy/O_4_TMIV_decode.json
  doc/configuring.md
  source/Common/include/TMIV/Common/Frame.h
  source/Common/include/TMIV/Common/Frame.hpp
  source/Decoder/src/OccupancyReconstructor.cpp
  source/Encoder/CMakeLists.txt
  source/Encoder/include/TMIV/Encoder/ExplicitOccupancy.h
  source/Encoder/src/Encoder_completeAccessUnit.cpp
  source/Encoder/src/Encoder_prepareSequence.cpp
  source/Encoder/src/ExplicitOccupancy.cpp
  source/Encoder/src/ExplicitOccupancy.test.cpp
  source/MivBitstream/src/AccessUnit.cpp
Due: clang-format, GCC 9 Release, Clang 11 Debug, VC 16 Release, Integration Test

fixed dynamic range scaling problem for trio
  source/Encoder/src/Encoder_completeAccessUnit.cpp
Due: clang-format, GCC 9 Release, Clang 11 Debug, VC 16 Release, Integration Test

Update PUT configs
  config/ctc/pose_traces/Pp01.csv
  config/ctc/pose_traces/Pp02.csv
  config/ctc/pose_traces/Pp03.csv
  config/ctc/pose_traces/Tp01.csv
  config/ctc/pose_traces/Tp02.csv
  config/ctc/pose_traces/Tp03.csv
  config/ctc/pose_traces/Up01.csv
  config/ctc/pose_traces/Up02.csv
  config/ctc/pose_traces/Up03.csv
  config/ctc/sequences/P.json
  config/ctc/sequences/T.json
  config/ctc/sequences/U.json
Due: none

Bump version to 9.0.
  CMakeLists.txt
Due: clang-format, GCC 9 Release, Clang 11 Debug, VC 16 Release, Integration Test

for clarity
  source/Common/include/TMIV/Common/Frame.h
  source/Common/src/Frame.cpp
  source/Common/src/Frame.test.cpp
  source/MpiPcs/src/MpiPcs.main.cpp
Due: clang-format, GCC 9 Release, Clang 11 Debug, VC 16 Release, Integration Test

Resolve "Define and implement picture output log in TMIV"
  .gitlab/ci/integration_test.yml
  doc/running.md
  scripts/test/integration_test.py
  source/Decoder/CMakeLists.txt
  source/Decoder/include/TMIV/Decoder/OutputLog.h
  source/Decoder/src/Decoder.main.cpp
  source/Decoder/src/OutputLog.cpp
  source/Decoder/src/OutputLog.test.cpp
  test/ci_integration_test.md5
Due: black, clang-format, GCC 9 Release, Clang 11 Debug, VC 16 Release, Integration Test, pytest

resolved timeout issue
  source/Decoder/src/OutputLog.test.cpp
Due: clang-format, GCC 9 Release, Clang 11 Debug, VC 16 Release, Integration Test

Fix PinRegion operator==
  source/MivBitstream/include/TMIV/MivBitstream/V3cParameterSet.h
Due: clang-format, GCC 9 Release, Clang 11 Debug, VC 16 Release, Integration Test

M56972 on view ids vs view indices in pruning graph signalling
  source/Decoder/src/MivDecoder.cpp
  source/Encoder/src/MivEncoder.cpp
  source/MivBitstream/include/TMIV/MivBitstream/CommonAtlasFrameMivExtension.h
  source/MivBitstream/src/CommonAtlasFrameMivExtension.cpp
  source/MivBitstream/src/CommonAtlasFrameMivExtension.test.cpp
Due: clang-format, GCC 9 Release, Clang 11 Debug, VC 16 Release, Integration Test

Updated depth maps for I
  config/ctc/sequences/I.md5
Due: none

Add new Packing info syntax elements
  source/Encoder/src/Multiplexer.test.cpp
  source/MivBitstream/include/TMIV/MivBitstream/V3cParameterSet.h
  source/MivBitstream/include/TMIV/MivBitstream/V3cParameterSet.hpp
  source/MivBitstream/src/V3cParameterSet.cpp
  source/MivBitstream/src/V3cParameterSet.test.cpp
Due: clang-format, GCC 9 Release, Clang 11 Debug, VC 16 Release, Integration Test

Clarify error message: 'no multiline commit messages'
  .gitlab/ci/checks.yml
Due: black, pytest

Remove references. Relate to ISO/IEC 23090-23
  README.md
Due: none

Resolve "m56352 TMIV video-codec integration"
  .gitlab/ci/builds.yml
  cmake/VVenC.cmake
  config/ctc/miv_anchor/A_2_VVenC_encode_geo.cfg
  config/ctc/miv_anchor/A_2_VVenC_encode_tex.cfg
  config/ctc/miv_anchor/A_3_TMIV_mux.json
  config/ctc/miv_anchor/A_4_TMIV_decode.json
  config/ctc/miv_dsde_anchor/G_2_VVenC_encode_tex.cfg
  config/ctc/miv_dsde_anchor/G_3_TMIV_mux.json
  config/ctc/miv_dsde_anchor/G_4_TMIV_decode.json
  config/ctc/miv_view_anchor/V_2_VVenC_encode_geo.cfg
  config/ctc/miv_view_anchor/V_2_VVenC_encode_tex.cfg
  config/ctc/miv_view_anchor/V_3_TMIV_mux.json
  config/ctc/miv_view_anchor/V_4_TMIV_decode.json
  scripts/test/integration_test.py
  source/VideoDecoder/include/TMIV/VideoDecoder/VideoDecoderFactory.h
  test/ci_integration_test.md5
Due: black, clang-format, GCC 9 Release, Clang 11 Debug, VC 16 Release, Integration Test, pytest

Resolve "Change the decoder output log format"
  source/Decoder/src/OutputLog.cpp
  source/Decoder/src/OutputLog.test.cpp
  test/ci_integration_test.md5
Due: clang-format, GCC 9 Release, Clang 11 Debug, VC 16 Release, Integration Test

Resolve "m56827-framePacking-encoder"
  config/ctc/miv_anchor/A_1_TMIV_encode.json
  config/ctc/miv_dsde_anchor/G_1_TMIV_encode.json
  config/ctc/miv_view_anchor/V_1_TMIV_encode.json
  config/test/explicit_occupancy/O_1_TMIV_encode.json
  config/test/frame_packing/P_1_TMIV_encode.json
  config/test/frame_packing/P_2_VVenC_encode_pac.cfg
  config/test/frame_packing/P_4_TMIV_decode.json
  config/test/frame_packing_subbitstreams/P_1_TMIV_encode.json
  config/test/frame_packing_subbitstreams/P_2_VTM_encode_geo.cfg
  config/test/frame_packing_subbitstreams/P_2_VTM_encode_tex.cfg
  config/test/frame_packing_subbitstreams/P_3_TMIV_mux.json
  config/test/geometry_only/N_1_TMIV_encode.json
  config/test/group_based_coding/U_1_TMIV_encode.json
  config/test/miv_mpi/M_1_TMIV_encode.json
  config/test/packing/P_3_TMIV_mux.json
  source/Common/include/TMIV/Common/Frame.h
  source/Common/include/TMIV/Common/Frame.hpp
  source/Encoder/CMakeLists.txt
  source/Encoder/include/TMIV/Encoder/Encoder.h
  source/Encoder/include/TMIV/Encoder/FramePack.h
  source/Encoder/src/Configuration.cpp
  source/Encoder/src/Configuration.test.cpp
  source/Encoder/src/Encoder_completeAccessUnit.cpp
  source/Encoder/src/Encoder_popFrame.cpp
  source/Encoder/src/FramePack.cpp
  source/Encoder/src/FramePack.test.cpp
  source/IO/src/save.cpp
  source/MivBitstream/include/TMIV/MivBitstream/V3cParameterSet.h
  source/MivBitstream/src/V3cParameterSet.cpp
Due: clang-format, GCC 9 Release, Clang 11 Debug, VC 16 Release, Integration Test

Fix help message typo
  source/Common/src/Application.cpp
Due: clang-format, GCC 9 Release, Clang 11 Debug, VC 16 Release, Integration Test

Update VVenC version in manual
  doc/building.md
Due: none

Add vt_anchor_select_cameras.py
  scripts/tools/test/vt_anchor_select_cameras_test.py
  scripts/tools/vt_anchor_select_cameras.py
Due: black, pytest

Resolve "m56827-framePacking-encoder"
  config/test/frame_packing/P_1_TMIV_encode.json
  config/test/frame_packing/P_2_VVenC_encode_pac.cfg
  config/test/frame_packing/P_3_TMIV_mux.json
  config/test/frame_packing/P_4_TMIV_decode.json
  doc/configuring.md
  scripts/test/integration_test.py
  source/Common/include/TMIV/Common/Frame.h
  source/Decoder/CMakeLists.txt
  source/Decoder/include/TMIV/Decoder/FrameUnpacker.h
  source/Decoder/include/TMIV/Decoder/MivDecoder.h
  source/Decoder/src/Decoder.cpp
  source/Decoder/src/Decoder.main.cpp
  source/Decoder/src/FrameUnpacker.cpp
  source/Decoder/src/FrameUnpacker.test.cpp
  source/Decoder/src/GeometryScaler.cpp
  source/Decoder/src/MivDecoder.cpp
  source/Encoder/CMakeLists.txt
  source/Encoder/include/TMIV/Encoder/Encoder.h
  source/Encoder/include/TMIV/Encoder/FramePacker.h
  source/Encoder/src/Encoder_completeAccessUnit.cpp
  source/Encoder/src/FramePacker.cpp
  source/Encoder/src/FramePacker.test.cpp
  source/IO/include/TMIV/IO/IO.h
  source/IO/src/load.cpp
  source/IO/src/save.cpp
  source/MivBitstream/include/TMIV/MivBitstream/AccessUnit.h
  source/MivBitstream/include/TMIV/MivBitstream/V3cParameterSet.h
  source/MivBitstream/include/TMIV/MivBitstream/V3cParameterSet.hpp
  source/MivBitstream/src/AccessUnit.cpp
  source/MivBitstream/src/V3cParameterSet.cpp
  source/MivBitstream/src/V3cParameterSet.test.cpp
  test/ci_integration_test.md5
Due: black, clang-format, GCC 9 Release, Clang 11 Debug, VC 16 Release, Integration Test, pytest

Automatic present flags + minor fixes
  source/Common/include/TMIV/Common/Graph.h
  source/Decoder/src/MivDecoder.cpp
  source/Encoder/include/TMIV/Encoder/FramePacker.h
  source/MivBitstream/include/TMIV/MivBitstream/AtlasFrameParameterSetRBSP.hpp
  source/MivBitstream/include/TMIV/MivBitstream/AtlasSequenceParameterSetRBSP.h
  source/MivBitstream/include/TMIV/MivBitstream/AtlasSequenceParameterSetRBSP.hpp
  source/MivBitstream/include/TMIV/MivBitstream/CommonAtlasFrameMivExtension.h
  source/MivBitstream/include/TMIV/MivBitstream/CommonAtlasFrameRBSP.h
  source/MivBitstream/include/TMIV/MivBitstream/CommonAtlasFrameRBSP.hpp
  source/MivBitstream/include/TMIV/MivBitstream/CommonAtlasSequenceParameterSetRBSP.h
  source/MivBitstream/include/TMIV/MivBitstream/V3cParameterSet.h
  source/MivBitstream/include/TMIV/MivBitstream/V3cParameterSet.hpp
  source/MivBitstream/include/TMIV/MivBitstream/VuiParameters.h
  source/MivBitstream/src/AtlasAdaptationParameterSetRBSP.cpp
  source/MivBitstream/src/AtlasFrameParameterSetRBSP.cpp
  source/MivBitstream/src/AtlasSequenceParameterSetRBSP.cpp
  source/MivBitstream/src/CommonAtlasFrameMivExtension.cpp
  source/MivBitstream/src/CommonAtlasFrameRBSP.cpp
  source/MivBitstream/src/CommonAtlasSequenceParameterSetRBSP.cpp
  source/MivBitstream/src/V3cParameterSet.cpp
  source/MivBitstream/src/VuiParameters.cpp
Due: clang-format, GCC 9 Release, Clang 11 Debug, VC 16 Release, Integration Test

Upgrade CI to clang 12
  .gitlab-ci.yml
  .gitlab/ci/builds.yml
  .gitlab/ci/checks.yml
Due: black, clang-format, GCC 9 Release, Clang 11 Debug, VC 16 Release, Integration Test, pytest

Remove geometry quantizer interface
  source/Encoder/include/TMIV/Encoder/Encoder.h
  source/Encoder/include/TMIV/Encoder/ExplicitOccupancy.h
  source/Encoder/include/TMIV/Encoder/GeometryQuantizer.h
  source/Encoder/include/TMIV/Encoder/IGeometryQuantizer.h
  source/Encoder/src/Encoder.cpp
  source/Encoder/src/Encoder_completeAccessUnit.cpp
  source/Encoder/src/Encoder_popFrame.cpp
  source/Encoder/src/ExplicitOccupancy.cpp
  source/Encoder/src/GeometryQuantizer.cpp
  source/Encoder/src/registerComponents.cpp
Due: clang-format, GCC 9 Release, Clang 11 Debug, VC 16 Release, Integration Test

Path conditions:
  black: (any of: **/*.py) or (any of: **/*.py, .gitlab/ci/checks.yml)
  clang-format: any of: .clang-format, .clang-tidy, .gitlab-ci.yml, **/CMakeLists.txt, **/*.cmake, **/*.cmake.in, **/*.cpp, **/*.h, **/*.hpp
  GCC 9 Release: any of: .clang-format, .clang-tidy, .gitlab-ci.yml, **/CMakeLists.txt, **/*.cmake, **/*.cmake.in, **/*.cpp, **/*.h, **/*.hpp
  Clang 11 Debug: any of: .clang-format, .clang-tidy, .gitlab-ci.yml, **/CMakeLists.txt, **/*.cmake, **/*.cmake.in, **/*.cpp, **/*.h, **/*.hpp
  VC 16 Release: any of: .clang-format, .clang-tidy, .gitlab-ci.yml, **/CMakeLists.txt, **/*.cmake, **/*.cmake.in, **/*.cpp, **/*.h, **/*.hpp
  Integration Test: any of: .clang-format, .clang-tidy, .gitlab-ci.yml, **/CMakeLists.txt, **/*.cmake, **/*.cmake.in, **/*.cpp, **/*.h, **/*.hpp
  AsciiDoc: (any of: doc/test_model/**/*) or (any of: .gitlab/ci/asciidoc.yml, doc/test_model/**/*)
  pytest: any of: **/*.py, .gitlab/ci/checks.yml
