Repository bart-kroon/TM1: changes, and which GitLab CI jobs are due for each by the changed paths.
All: GCC 9 Release, Clang 11 Debug, VC 16 Release, AsciiDoc

GCC 9 Release:
  stage: build
  image: rikorose/gcc-cmake:gcc-9
  tags:
  - linux
  script:
  - mkdir -p build && cd build
  - cmake -DCMAKE_CXX_FLAGS="-Wall -Wextra -Wpedantic -Werror" -DENABLE_CLANG_TIDY=OFF -DCMAKE_BUILD_TYPE=Release ..
  - make -j $(nproc)
  - make -j $(nproc) test

Clang 11 Debug:
  stage: build
  image: cbachhuber/clang:11
  tags:
  - linux
  script:
  - mkdir -p build && cd build
  - 'cmake -DCMAKE_CXX_FLAGS="-Wall -Wextra -Wpedantic -Werror -fprofile-arcs -ftest-coverage" -DCMAKE_BUILD_TYPE=Debug ..
  
    '
  - make -j $(nproc)
  - make -j $(nproc) test
  - cmake --build . --target clang_format
  ...

VC 16 Release:
  stage: build
  image: buildtools2019:latest
  tags:
  - windows
  script:
  - mkdir -p build
  - cd build
  - cmake -G "Visual Studio 16 2019" -DCMAKE_CXX_FLAGS="/DWIN32 /D_WINDOWS /W3 /GR /EHsc /WX" -DENABLE_CLANG_TIDY=OFF ..
  - cmake --build . --parallel --config Release --target ALL_BUILD
  ...

AsciiDoc:
  stage: build
  image: asciidoctor/docker-asciidoctor:1.2
  tags:
  - linux
  script:
  - cd doc/test_model
  - asciidoctor --backend html5 -a data-uri index.adoc
  - mv index.html ../../${TEST_MODEL_HTML}
  - asciidoctor-pdf -r asciidoctor-mathematical -a pdf-style=pdf_theme.yml index.adoc
  ...

m55736 Push-pull inpainter
  source/Decoder/src/registerComponents.cpp
  source/Renderer/CMakeLists.txt
  source/Renderer/include/TMIV/Renderer/Inpainter.h
  source/Renderer/include/TMIV/Renderer/NoInpainter.h
  source/Renderer/include/TMIV/Renderer/PushPullInpainter.h
  source/Renderer/src/Inpainter.cpp
  source/Renderer/src/PushPull.h
  source/Renderer/src/PushPull.hpp
  source/Renderer/src/PushPull.test.cpp
  source/Renderer/src/PushPullInpainter.cpp
  source/Renderer/src/PushPullInpainter.test.cpp
Due: GCC 9 Release, Clang 11 Debug, VC 16 Release

m55736 Server-side inpainter (Encoder)
  source/Common/CMakeLists.txt
  source/Common/include/TMIV/Common/Application.h
  source/Common/include/TMIV/Common/Factory.h
  source/Common/include/TMIV/Common/Filter.h
  source/Common/src/Filter.test.cpp
  source/Decoder/src/MivDecoder.cpp
  source/Encoder/src/Encoder.cpp
  source/Encoder/src/MivEncoder.cpp
  source/Encoder/src/MpiEncoder.cpp
  source/Encoder/src/registerComponents.cpp
  source/MivBitstream/include/TMIV/MivBitstream/ViewParamsList.h
  source/Pruner/src/HierarchicalPruner.cpp
  source/Renderer/src/Front/MultipleFrameRenderer.cpp
  source/ViewOptimizer/CMakeLists.txt
  source/ViewOptimizer/include/TMIV/ViewOptimizer/ServerSideInpainter.h
  source/ViewOptimizer/src/ServerSideInpainter.cpp
  source/ViewOptimizer/src/ServerSideInpainter.test.cpp
Due: GCC 9 Release, Clang 11 Debug, VC 16 Release

rendering now handles server-side inpainted views into account. Using the pdu signaling with max 1 inpainted view
  source/Renderer/src/ViewWeightingSynthesizer.cpp
Due: GCC 9 Release, Clang 11 Debug, VC 16 Release

Resolve "Bug in ASPS and VPS"
  source/MivBitstream/src/AtlasSequenceParameterSetRBSP.cpp
  source/MivBitstream/src/AtlasSequenceParameterSetRBSP.test.cpp
  source/MivBitstream/src/V3cParameterSet.cpp
  source/MivBitstream/src/V3cParameterSet.test.cpp
  source/MivBitstream/src/V3cUnit.test.cpp
Due: GCC 9 Release, Clang 11 Debug, VC 16 Release

Resolve m55736 configuration and manual
  README.md
  config/ctc/miv_anchor/A_1_TMIV_encode.json
  config/ctc/miv_view_anchor/V_1_TMIV_encode.json
  source/Encoder/src/registerComponents.cpp
  source/Renderer/src/ViewWeightingSynthesizer.cpp
  source/ViewOptimizer/src/ServerSideInpainter.cpp
  source/ViewOptimizer/src/ServerSideInpainter.test.cpp
Due: GCC 9 Release, Clang 11 Debug, VC 16 Release

Resolve "m54893 Adaptive texture-based pruning"
  source/Encoder/src/Encoder_prepareSequence.cpp
  source/Pruner/CMakeLists.txt
  source/Pruner/include/TMIV/Pruner/HierarchicalPruner.h
  source/Pruner/include/TMIV/Pruner/IPruner.h
  source/Pruner/src/HierarchicalPruner.cpp
  source/Pruner/src/IncrementalSynthesizer.h
  source/Pruner/src/LumaStdDev.cpp
  source/Pruner/src/LumaStdDev.h
  source/Pruner/src/LumaStdDev.test.cpp
  source/Pruner/src/NoPruner.cpp
  source/Renderer/include/TMIV/Renderer/AccumulatingPixel.h
  source/Renderer/include/TMIV/Renderer/blend.h
Due: GCC 9 Release, Clang 11 Debug, VC 16 Release

Adapt readme for "m55823 Moving to VVC for MIV CTC anchors"
  README.md
Due: none

Remove NoSynthesizer
  source/Decoder/src/registerComponents.cpp
  source/Renderer/CMakeLists.txt
  source/Renderer/include/TMIV/Renderer/NoSynthesizer.h
  source/Renderer/src/NoSynthesizer.cpp
  source/Renderer/src/registerComponents.cpp
Due: GCC 9 Release, Clang 11 Debug, VC 16 Release

Resolve "Rename: vme_embedded_occupancy_enabled_flag"
  source/Decoder/src/MivDecoder.cpp
  source/Decoder/src/OccupancyReconstructor.cpp
  source/GeometryQuantizer/src/ExplicitOccupancy.cpp
  source/GeometryQuantizer/src/GeometryQuantizer.cpp
  source/GeometryQuantizer/src/GeometryQuantizer.test.cpp
  source/MivBitstream/include/TMIV/MivBitstream/V3cParameterSet.h
  source/MivBitstream/include/TMIV/MivBitstream/V3cParameterSet.hpp
  source/MivBitstream/src/AccessUnit.cpp
  source/MivBitstream/src/AtlasSequenceParameterSetRBSP.test.cpp
  source/MivBitstream/src/CommonAtlasFrameMivExtension.cpp
  source/MivBitstream/src/V3cParameterSet.cpp
  source/MivBitstream/src/V3cParameterSet.test.cpp
Due: GCC 9 Release, Clang 11 Debug, VC 16 Release

Resolve "Reduce video coding in the integration test"
  README.md
  cmake/integration_test.py
  config/ctc/miv_anchor/A_4_TMIV_decode.json
  config/ctc/miv_view_anchor/V_4_TMIV_decode.json
Due: none

Revert "Create release from tag, attach test model document"
  .gitlab-ci.yml
  .gitlab/issue_templates/Update TMIV version.md
Due: GCC 9 Release, Clang 11 Debug, VC 16 Release

A_3 --> A_4
  cmake/integration_test.py
Due: none

Update README.md -- references
  README.md
Due: none

Rename to asme_patch_attribute_offset_bit_depth_minus1
  source/Decoder/src/Decoder.cpp
  source/Encoder/src/Encoder_completeAccessUnit.cpp
  source/MivBitstream/include/TMIV/MivBitstream/AtlasSequenceParameterSetRBSP.h
  source/MivBitstream/include/TMIV/MivBitstream/AtlasSequenceParameterSetRBSP.hpp
  source/MivBitstream/src/AtlasSequenceParameterSetRBSP.cpp
  source/MivBitstream/src/AtlasSequenceParameterSetRBSP.test.cpp
  source/MivBitstream/src/AtlasTileLayerRBSP.cpp
  source/MivBitstream/src/AtlasTileLayerRBSP.test.cpp
Due: GCC 9 Release, Clang 11 Debug, VC 16 Release

Remove HM mention
  README.md
Due: none

Add README.md within buildtools2019 folder
  contrib/buildtools2019/README.md
Due: none

Resolve "Access reading violation in pruner fix"
  source/Pruner/src/LumaStdDev.cpp
Due: GCC 9 Release, Clang 11 Debug, VC 16 Release

added link between number of bits and number of layers
  doc/test_model/chapters/4_encoder.adoc
Due: AsciiDoc

Remove BitstreamFile and ReconFile params from G and V configs
  config/ctc/miv_dsde_anchor/G_2_VVenC_encode_tex.cfg
  config/ctc/miv_view_anchor/V_2_VVenC_encode_geo.cfg
Due: none

Install fmt headers
  cmake/fmt.cmake
Due: GCC 9 Release, Clang 11 Debug, VC 16 Release

Resolve "JSON: Parameter 'inputGeometryVideoFramePathFmt' is required but missing"
  cmake/integration_test.py
  config/ctc/miv_anchor/A_4_TMIV_decode.json
  config/ctc/miv_dsde_anchor/G_4_TMIV_decode.json
  config/ctc/miv_view_anchor/V_4_TMIV_decode.json
Due: none

Remove superfluous lines
  README.md
Due: none

Remove Array::property
  source/Common/include/TMIV/Common/Array.h
Due: GCC 9 Release, Clang 11 Debug, VC 16 Release

Avoid for loops
  source/Renderer/src/Inpainter.cpp
Due: GCC 9 Release, Clang 11 Debug, VC 16 Release

Resolve "Configuration error"
  cmake/integration_test.py
  config/ctc/miv_anchor/A_4_TMIV_decode.json
  config/ctc/miv_dsde_anchor/G_4_TMIV_decode.json
  config/ctc/miv_view_anchor/V_4_TMIV_decode.json
Due: none

Avoid shadowing
  source/Common/include/TMIV/Common/Json.hpp
Due: GCC 9 Release, Clang 11 Debug, VC 16 Release

Resolve "Allow VC16 builds with /W4 /WX"
  .gitlab-ci.yml
  cmake/HM.cmake
  source/Common/CMakeLists.txt
Due: GCC 9 Release, Clang 11 Debug, VC 16 Release

Enable the C4389 warning
  source/Common/CMakeLists.txt
  source/Common/src/Bitstream.test.cpp
Due: GCC 9 Release, Clang 11 Debug, VC 16 Release

Remove uncovered assert
  source/Common/include/TMIV/Common/Common.hpp
  source/Common/include/TMIV/Common/Frame.h
  source/Common/include/TMIV/Common/Frame.hpp
  source/Common/include/TMIV/Common/Quaternion.h
  source/Common/src/Application.cpp
  source/Common/src/Frame.cpp
  source/Decoder/include/TMIV/Decoder/GeometryScaler.h
  source/Decoder/include/TMIV/Decoder/OccupancyReconstructor.h
  source/Decoder/src/AtlasDecoder.cpp
  source/Decoder/src/CommonAtlasDecoder.cpp
  source/Decoder/src/EntityBasedPatchMapFilter.cpp
  source/Encoder/src/Encoder.cpp
  source/Encoder/src/Encoder_completeAccessUnit.cpp
  source/Encoder/src/Encoder_prepareSequence.cpp
  source/Encoder/src/Encoder_pushFrame.cpp
  source/Encoder/src/GroupBasedEncoder.cpp
  source/Encoder/src/MpiEncoder.cpp
  source/Encoder/src/Multiplexer.main.cpp
  source/GeometryQuantizer/src/GeometryQuantizer.cpp
  source/IO/src/load.cpp
  source/MivBitstream/include/TMIV/MivBitstream/PatchParamsList.hpp
  source/MivBitstream/include/TMIV/MivBitstream/ViewingSpace.h
  source/MivBitstream/src/ViewingSpace.cpp
  source/Pruner/src/HierarchicalPruner.cpp
  source/Pruner/src/PrunedMesh.cpp
  source/Renderer/include/TMIV/Renderer/AccumulatingPixel.h
  source/Renderer/include/TMIV/Renderer/Engine_ERP.hpp
  source/Renderer/include/TMIV/Renderer/Rasterizer.hpp
  source/Renderer/src/AdditiveSynthesizer.cpp
  source/Renderer/src/SubBlockCuller.cpp
  source/ViewOptimizer/src/AbstractViewSelector.cpp
  source/ViewOptimizer/src/BasicViewAllocator.cpp
  source/ViewingSpace/src/SignedDistance.cpp
  source/ViewingSpace/src/ViewingSpaceEvaluator.cpp
Due: GCC 9 Release, Clang 11 Debug, VC 16 Release

Enable the C4702 warning
  .gitlab-ci.yml
  source/Common/CMakeLists.txt
  source/Common/src/verify.test.cpp
  source/MivBitstream/src/V3cParameterSet.cpp
  source/Packer/src/Packer.cpp
Due: GCC 9 Release, Clang 11 Debug, VC 16 Release

Upgrade Git to 2.30.1
  contrib/buildtools2019/Dockerfile
  contrib/buildtools2019/README.md
Due: none

fixed out of image boundary bounds reading while rendering
  source/Renderer/src/ViewWeightingSynthesizer.cpp
Due: GCC 9 Release, Clang 11 Debug, VC 16 Release

Enable the C445x warnings
  source/Common/CMakeLists.txt
  source/Common/src/Quaternion.test.cpp
  source/Encoder/src/Multiplexer.main.cpp
  source/IO/src/load.cpp
  source/MivBitstream/src/PatchParamsList.test.cpp
  source/MivBitstream/src/SeiRBSP.cpp
  source/MivBitstream/src/SequenceConfig.cpp
Due: GCC 9 Release, Clang 11 Debug, VC 16 Release

Bump version to 8.0.1
  CMakeLists.txt
Due: GCC 9 Release, Clang 11 Debug, VC 16 Release

Issue description template
  .gitlab/issue_templates/Update TMIV version.md
  README.md
Due: none

Bump version to 8.1.0
  CMakeLists.txt
Due: GCC 9 Release, Clang 11 Debug, VC 16 Release

Merge 8.0.1 into master
  cmake/integration_test.py
  config/ctc/miv_anchor/A_4_TMIV_decode.json
  config/ctc/miv_dsde_anchor/G_4_TMIV_decode.json
  config/ctc/miv_view_anchor/V_4_TMIV_decode.json
  source/Renderer/src/ViewWeightingSynthesizer.cpp
Due: GCC 9 Release, Clang 11 Debug, VC 16 Release

Resolve "TMIV decoder error in printing number of groups"
  source/Decoder/src/MivDecoder.cpp
Due: GCC 9 Release, Clang 11 Debug, VC 16 Release

Remove aaps miv extension
  source/MivBitstream/include/TMIV/MivBitstream/AtlasAdaptationParameterSetRBSP.h
  source/MivBitstream/include/TMIV/MivBitstream/AtlasAdaptationParameterSetRBSP.hpp
  source/MivBitstream/src/AtlasAdaptationParameterSetRBSP.cpp
Due: GCC 9 Release, Clang 11 Debug, VC 16 Release

Path conditions:
  GCC 9 Release: any of: .clang-format, .clang-tidy, .gitlab-ci.yml, **/CMakeLists.txt, **/*.cmake, **/*.cmake.in, **/*.cpp, **/*.h, **/*.hpp
  Clang 11 Debug: any of: .clang-format, .clang-tidy, .gitlab-ci.yml, **/CMakeLists.txt, **/*.cmake, **/*.cmake.in, **/*.cpp, **/*.h, **/*.hpp
  VC 16 Release: any of: .clang-format, .clang-tidy, .gitlab-ci.yml, **/CMakeLists.txt, **/*.cmake, **/*.cmake.in, **/*.cpp, **/*.h, **/*.hpp
  AsciiDoc: any of: doc/test_model/**/*
