Repository bart-kroon/TM1: changes, and which GitLab CI jobs are due for each by the changed paths.
All: AsciiDoc, Python formatting, Python unit tests, JSON formatting

.gitlab/ci/asciidoc.yml:

AsciiDoc:
  stage: build
  image: asciidoctor/docker-asciidoctor:1.2
  tags: [ linux ]
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      changes:
        - .gitlab/ci/asciidoc.yml
        - doc/test_model/**/*
  script:
    - cd doc/test_model
    - asciidoctor --backend html5 -a data-uri index.adoc
    - mv index.html ../../test_model.html
    - asciidoctor-pdf -r asciidoctor-mathematical -a pdf-style=pdf_theme.yml index.adoc
    - mv index.pdf ../../test_model.pdf
  artifacts:
    paths:
      - test_model.html
      - test_model.pdf

.gitlab/ci/checks.yml:

Python formatting:
  stage: formatting
  image: tmiv-ci:20220413
  tags: [ linux-short ]
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      changes:
        - "**/*.py"
        - .gitlab/ci/checks.yml
  script:
    - python3 -m black --check --diff scripts/

Python unit tests:
  stage: checks
  image: tmiv-ci:20220413
  tags: [ linux-short ]
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      changes:
        - "**/*.py"
        - .gitlab/ci/checks.yml
  cache:
    paths:
      - .cache/pip
  variables:
    PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  before_script:
    - python3 -m pip install pytest pyfakefs
  script:
    - pytest scripts

C++ formatting:
  stage: formatting
  image: tmiv-ci:20220413
  tags: [ linux-short ]
  script:
    - ./scripts/check/clang_format.py
    - git diff
    - if [[ $(git diff) ]]; then echo "Formatting is wrong. Please see above."; return 1; fi

No multi-line commit messages:
  stage: checks
  image:
    name: tmiv-ci:20220413
  tags: [ linux-short ]
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
  script:
    - git fetch --all -p
    - NUM_COMMIT_MESSAGE_LINES=$(git log --pretty=format:%B remotes/origin/main..HEAD | sed '/^\s*$/d' | grep -c "")
    - NUM_COMMITS=$(git rev-list --count remotes/origin/main..HEAD)
    - if [[ "$NUM_COMMIT_MESSAGE_LINES" -ne "$NUM_COMMITS" ]]; then echo "Merge requests with multi-line commit messages result in a wrong commit message on main. Please rewrite the commit message(s) to have only one line."; fail; fi

Code quality rules:
  stage: checks
  image: tmiv-ci:20220413
  tags: [ linux-short ]
  script:
    - ./scripts/check/code_quality_rules.py
    - git diff
    - if [[ $(git diff) ]]; then echo "At least one code quality rule check has triggered. Please see above."; return 1; fi

JSON formatting:
  stage: formatting
  image: tmiv-ci:20220413
  tags: [ linux-short ]
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      changes:
        - "**/*.json"
  script:
    - ./scripts/check/format_json.py
    - git diff
    - if [[ $(git diff) ]]; then echo "JSON formatting is wrong. Please see above."; return 1; fi

m60271-multi-tile
  config/test/frame_packing/P_1_TMIV_encode.json
  config/test/multi-tile/T_1_TMIV_encode.json
  config/test/multi-tile/T_2_VVenC_encode_geo.cfg
  config/test/multi-tile/T_2_VVenC_encode_tex.cfg
  config/test/multi-tile/T_3_TMIV_mux.json
  config/test/multi-tile/T_4_TMIV_decode.json
  config/test/sequences/TO_MultiTile.json
  doc/configuring.md
  scripts/test/integration_test.py
  source/Decoder/include/TMIV/Decoder/DecodeAtlas.h
  source/Decoder/include/TMIV/Decoder/DecodePatchParamsList.h
  source/Decoder/src/DecodeAtlas.cpp
  source/Decoder/src/DecodeAtlas.test.cpp
  source/Decoder/src/DecodeMiv.cpp
  source/Decoder/src/DecodeMiv.test.cpp
  source/Decoder/src/DecodePatchParamsList.cpp
  source/Encoder/include/TMIV/Encoder/EncoderParams.h
  source/Encoder/include/TMIV/Encoder/MpiEncoder.h
  source/Encoder/src/Configuration.cpp
  source/Encoder/src/Configuration.h
  source/Encoder/src/EncodeMiv.cpp
  source/Encoder/src/EncodeMiv.test.cpp
  source/Encoder/src/EncoderImpl.h
  source/Encoder/src/Encoder_completeAccessUnit.cpp
  source/Encoder/src/Encoder_prepareSequence.cpp
  source/Encoder/src/Encoder_prepareSequence.test.cpp
  source/Encoder/src/MpiEncoder.cpp
  source/MivBitstream/include/TMIV/MivBitstream/AccessUnit.h
  source/MivBitstream/include/TMIV/MivBitstream/AtlasFrameParameterSetRBSP.h
  source/MivBitstream/include/TMIV/MivBitstream/AtlasFrameParameterSetRBSP.hpp
  source/MivBitstream/include/TMIV/MivBitstream/AtlasTileLayerRBSP.h
  source/MivBitstream/include/TMIV/MivBitstream/Tile.h
  source/MivBitstream/include/TMIV/MivBitstream/Tile.hpp
  source/MivBitstream/src/AtlasFrameParameterSetRBSP.cpp
  source/MivBitstream/src/AtlasFrameParameterSetRBSP.test.cpp
  source/MivBitstream/src/AtlasTileLayerRBSP.cpp
  source/Packer/include/TMIV/Packer/IPacker.h
  source/Packer/include/TMIV/Packer/Packer.h
  source/Packer/src/Packer.cpp
  test/integration_test.md5
Due: Python formatting, Python unit tests, JSON formatting

Check tier and levels
  source/Decoder/src/FakeChecker.h
  source/PtlChecker/include/TMIV/PtlChecker/AbstractChecker.h
  source/PtlChecker/include/TMIV/PtlChecker/PtlChecker.h
  source/PtlChecker/src/PtlChecker.cpp
  source/PtlChecker/src/PtlChecker.test.cpp
Due: none

Bump version to 14.1
  CMakeLists.txt
Due: none

Fix
  source/Encoder/src/Encoder_completeAccessUnit.cpp
Due: none

Update VC17 MD5 sums
  test/integration_test_vc17.md5
Due: none

Non-IRAP frames
  config/test/non_irap_frames/I_1_TMIV_encode.json
  config/test/non_irap_frames/I_3_TMIV_mux.json
  config/test/non_irap_frames/I_4_TMIV_decode.json
  doc/configuring.md
  scripts/test/integration_test.py
  source/Encoder/src/Encoder.main.cpp
  source/Encoder/src/Encoder_completeAccessUnit.cpp
  test/integration_test.md5
  test/integration_test_vc17.md5
Due: Python formatting, Python unit tests, JSON formatting

Bump version to 14.2
  CMakeLists.txt
Due: none

case V3C_PVD
  source/Parser/src/BitrateReport.main.cpp
Due: none

added start frame parameter in CLI for Mpi encoder
  scripts/test/integration_test.py
  source/Encoder/src/MpiEncoder.main.cpp
Due: Python formatting, Python unit tests

Resolve "TMIV::Common::writeBytes does not check for overflow"
  source/Common/src/Bytestream.cpp
Due: none

Bump version to 15.0
  CMakeLists.txt
Due: none

Remove colorCorrectionEnabledFlag
  config/ctc/miv_anchor/A_1_TMIV_encode.json
  config/ctc/miv_dsde_anchor/G_1_TMIV_encode.json
  config/ctc/miv_view_anchor/V_1_TMIV_encode.json
  config/test/entity_based_coding/E_1_TMIV_encode.json
  config/test/explicit_occupancy/O_1_TMIV_encode.json
  config/test/frame_packing/P_1_TMIV_encode.json
  config/test/geometry_only/N_1_TMIV_encode.json
  config/test/miv_mpi/M_1_TMIV_encode.json
  config/test/muliplexer_external_packed_video/P_1_TMIV_encode.json
  config/test/multi-tile/T_1_TMIV_encode.json
  config/test/non_irap_frames/I_1_TMIV_encode.json
  config/test/one_view/W_1_TMIV_encode.json
  config/vt/miv_main/A_1_TMIV_encode.json
  source/Encoder/CMakeLists.txt
  source/Encoder/src/ColorConsistencyAssessor.test.cpp
  source/Encoder/src/Configuration.cpp
  source/Encoder/src/Configuration.h
  source/Encoder/src/Configuration.test.cpp
  source/Encoder/src/EncoderImpl.h
  source/Encoder/src/Encoder_assessColorConsistency.cpp
  source/Encoder/src/Encoder_completeAccessUnit.cpp
  source/Encoder/src/Encoder_pushFrame.cpp
Due: JSON formatting

m59442 2nd draft: geometry packing
  .gitlab/ci/builds.yml
  CMakeLists.txt
  config/ctc/miv_anchor/A_1_TMIV_encode.json
  config/ctc/miv_dsde_anchor/G_1_TMIV_encode.json
  config/ctc/miv_view_anchor/V_1_TMIV_encode.json
  config/test/entity_based_coding/E_1_TMIV_encode.json
  config/test/explicit_occupancy/O_1_TMIV_encode.json
  config/test/frame_packing/P_1_TMIV_encode.json
  config/test/geometry_only/N_1_TMIV_encode.json
  config/test/geometry_packing/GPM_5_TMIV_decode.json
  config/test/geometry_packing/GP_1_TMIV_encode.json
  config/test/geometry_packing/GP_4_TMIV_bitstream_merge.json
  config/test/geometry_packing/GP_5_TMIV_decode.json
  config/test/miv_mpi/M_1_TMIV_encode.json
  config/test/muliplexer_external_packed_video/P_1_TMIV_encode.json
  config/test/multi-tile/T_1_TMIV_encode.json
  config/test/one_view/W_1_TMIV_encode.json
  config/vt/miv_main/A_1_TMIV_encode.json
  doc/configuring.md
  source/BitstreamMerger/CMakeLists.txt
  source/BitstreamMerger/include/TMIV/BitstreamMerger/BitstreamMerger.h
  source/BitstreamMerger/src/BitstreamMerger.cpp
  source/BitstreamMerger/src/BitstreamMerger.main.cpp
  source/Encoder/src/Configuration.cpp
  source/Encoder/src/Configuration.h
  source/Encoder/src/Configuration.test.cpp
  source/Encoder/src/Encoder_completeAccessUnit.cpp
  source/Encoder/src/Encoder_popFrame.cpp
  source/Encoder/src/Encoder_prepareSequence.test.cpp
  source/Encoder/src/FramePacker.cpp
  source/Encoder/src/FramePacker.h
Due: JSON formatting

Continuous decoder conformance testing
  .gitlab/ci/builds.yml
  .gitlab/ci/tests.yml
  scripts/test/integration_test.py
  test/integration_test.md5
  test/integration_test_vc17.md5
Due: Python formatting, Python unit tests

Resolve "Multi-tile rough edges"
  source/Encoder/src/EncoderImpl.h
  source/Encoder/src/Encoder_completeAccessUnit.cpp
Due: none

LLVM 15
  .clang-tidy
  source/Common/include/TMIV/Common/verify.h
  source/Decoder/src/DecodeMiv.cpp
  source/Decoder/src/Decoder.main.cpp
  source/GaInserter/src/GaInserter.cpp
  source/MivBitstream/src/AtlasObjectAssociation.cpp
  source/Packer/src/MaxRectPiP.cpp
  source/Renderer/include/TMIV/Renderer/MpiRasterizer.hpp
  source/Renderer/src/SubBlockCuller.cpp
Due: none

Enable IPO if supported
  CMakeLists.txt
Due: none

Resolve "m60668 Inhomogeneous view selection for omnidirectional content"
  config/ctc/miv_anchor/A_1_TMIV_encode.json
  config/ctc/miv_dsde_anchor/G_1_TMIV_encode.json
  config/ctc/miv_view_anchor/V_1_TMIV_encode.json
  source/ViewOptimizer/include/TMIV/ViewOptimizer/AbstractViewSelector.h
  source/ViewOptimizer/include/TMIV/ViewOptimizer/BasicViewAllocator.h
  source/ViewOptimizer/src/AbstractViewSelector.cpp
  source/ViewOptimizer/src/BasicViewAllocator.cpp
  source/ViewOptimizer/src/BasicViewAllocator.test.cpp
  test/integration_test.md5
Due: JSON formatting

Tune QP's per MPEG/MIV/InputDocuments#636
  scripts/test/vt_prep_test.py
Due: Python formatting, Python unit tests

Resolve "m60248 Extended geometry assistance SEI"
  CMakeLists.txt
  source/EgaInserter/CMakeLists.txt
  source/EgaInserter/include/TMIV/EgaInserter/EgaInserter.h
  source/EgaInserter/src/EgaInserter.cpp
  source/EgaInserter/src/EgaInserter.main.cpp
  source/EgaInserter/src/EgaInserter.test.cpp
  source/EgaInserter/src/EgaInserter.test.reference.hpp
  source/MivBitstream/CMakeLists.txt
  source/MivBitstream/include/TMIV/MivBitstream/ExtendedGeometryAssistance.h
  source/MivBitstream/include/TMIV/MivBitstream/SeiRBSP.h
  source/MivBitstream/src/ExtendedGeometryAssistance.cpp
  source/MivBitstream/src/ExtendedGeometryAssistance.test.cpp
  source/MivBitstream/src/SeiRBSP.cpp
  source/MivBitstream/src/SeiRBSP.test.cpp
Due: none

M60846 v2
  config/ctc/miv_anchor/A_1_TMIV_encode.json
  config/ctc/miv_view_anchor/V_1_TMIV_encode.json
  config/test/entity_based_coding/E_1_TMIV_encode.json
  config/test/frame_packing/P_1_TMIV_encode.json
  config/test/geometry_only/N_1_TMIV_encode.json
  config/test/geometry_packing/GP_1_TMIV_encode.json
  config/test/muliplexer_external_packed_video/P_1_TMIV_encode.json
  config/test/multi-tile/T_1_TMIV_encode.json
  config/test/non_irap_frames/I_1_TMIV_encode.json
  config/test/one_view/W_1_TMIV_encode.json
  source/Encoder/src/Configuration.cpp
  source/Encoder/src/Configuration.h
  source/Encoder/src/Configuration.test.cpp
  source/Encoder/src/Encoder_completeAccessUnit.cpp
  source/Encoder/src/Encoder_prepareSequence.test.cpp
  source/Encoder/src/ExplicitOccupancy.test.cpp
  source/Encoder/src/GeometryQuantizer.cpp
  source/Encoder/src/GeometryQuantizer.h
  source/Encoder/src/GeometryQuantizer.test.cpp
Due: JSON formatting

Added L03 (MartialArts) sequence configuration
  config/ctc/pose_traces/L03p01.csv
  config/ctc/pose_traces/L03p02.csv
  config/ctc/pose_traces/L03p03.csv
  config/ctc/sequences/L03.json
  config/ctc/sequences/L03.md5
Due: JSON formatting

Issue 746
  source/MivBitstream/src/V3cParameterSet.cpp
Due: none

Finish implementation of decoded atlas information hash (DAIH)
  scripts/test/vpcc_conformance_parse_test.py
  source/Common/src/Bitstream.cpp
  source/MivBitstream/include/TMIV/MivBitstream/DecodedAtlasInformationHash.h
  source/MivBitstream/include/TMIV/MivBitstream/DecodedAtlasInformationHash.hpp
  source/MivBitstream/src/DecodedAtlasInformationHash.cpp
  source/MivBitstream/src/DecodedAtlasInformationHash.test.cpp
Due: Python formatting, Python unit tests

Correct bit depth of afti_top_left_partition_idx
  source/Common/include/TMIV/Common/Bitstream.hpp
  source/MivBitstream/include/TMIV/MivBitstream/AtlasFrameParameterSetRBSP.h
  source/MivBitstream/include/TMIV/MivBitstream/AtlasFrameParameterSetRBSP.hpp
  source/MivBitstream/src/AtlasFrameParameterSetRBSP.cpp
Due: none

Fix VUI implementation (#744)
  scripts/test/integration_test.py
  source/Decoder/src/DecodeMiv.cpp
  source/MivBitstream/include/TMIV/MivBitstream/AtlasSequenceParameterSetRBSP.h
  source/MivBitstream/include/TMIV/MivBitstream/VuiParameters.h
  source/MivBitstream/include/TMIV/MivBitstream/VuiParameters.hpp
  source/MivBitstream/src/AtlasSequenceParameterSetRBSP.cpp
  source/MivBitstream/src/AtlasSequenceParameterSetRBSP.test.cpp
  source/MivBitstream/src/CommonAtlasSequenceParameterSetRBSP.test.cpp
  source/MivBitstream/src/VuiParameters.cpp
  source/MivBitstream/src/VuiParameters.test.cpp
  test/integration_test.md5
  test/integration_test_vc17.md5
Due: Python formatting, Python unit tests

Complete VPS implementation
  scripts/test/vpcc_conformance_parse_test.py
  source/Decoder/src/DecodeMiv.test.cpp
  source/EgaInserter/src/EgaInserter.test.reference.hpp
  source/GaInserter/src/GaInserter.test.reference.hpp
  source/MivBitstream/include/TMIV/MivBitstream/V3cParameterSet.h
  source/MivBitstream/src/AccessUnitDelimiterRBSP.test.cpp
  source/MivBitstream/src/AtlasAdaptationParameterSetRBSP.test.cpp
  source/MivBitstream/src/AtlasFrameParameterSetRBSP.test.cpp
  source/MivBitstream/src/AtlasSequenceParameterSetRBSP.test.cpp
  source/MivBitstream/src/AtlasTileLayerRBSP.test.cpp
  source/MivBitstream/src/CommonAtlasFrameRBSP.test.cpp
  source/MivBitstream/src/CommonAtlasSequenceParameterSetRBSP.test.cpp
  source/MivBitstream/src/NalSampleStreamFormat.test.cpp
  source/MivBitstream/src/NalUnit.test.cpp
  source/MivBitstream/src/SeiRBSP.test.cpp
  source/MivBitstream/src/V3cParameterSet.cpp
  source/MivBitstream/src/V3cParameterSet.test.cpp
  source/MivBitstream/src/V3cUnit.test.cpp
  source/MivBitstream/src/test.h
  source/Parser/src/Parser.test.reference.hpp
  test/integration_test.md5
  test/integration_test_vc17.md5
Due: Python formatting, Python unit tests

Complete implementation of Atlas Tile Data Unit (ATDU)
  scripts/test/vpcc_conformance_parse_test.py
  source/Decoder/src/DecodeAtlas.test.cpp
  source/Decoder/src/DecodeMiv.test.cpp
  source/Decoder/src/DecodePatchParamsList.cpp
  source/Encoder/src/EncodeMiv.cpp
  source/MivBitstream/include/TMIV/MivBitstream/AtlasTileLayerRBSP.h
  source/MivBitstream/include/TMIV/MivBitstream/AtlasTileLayerRBSP.hpp
  source/MivBitstream/src/AtlasTileLayerRBSP.cpp
  source/MivBitstream/src/AtlasTileLayerRBSP.test.cpp
  source/PtlChecker/src/PtlChecker.cpp
  source/PtlChecker/src/PtlChecker.test.cpp
  test/integration_test.md5
  test/integration_test_vc17.md5
Due: Python formatting, Python unit tests

Avoid that VVenC and VVdeC write binaries to their source directory
  scripts/build/build_dependencies.json
  scripts/build/build_dependencies.py
Due: Python formatting, Python unit tests, JSON formatting

Encode conformance bitstreams
  doc/conformance/CB01.txt
  doc/conformance/CB02.txt
  doc/conformance/CB03.txt
  doc/conformance/CB04.txt
  doc/conformance/CB05_1.txt
  doc/conformance/CB05_2.txt
  doc/conformance/CB05_3.txt
  doc/conformance/CB06.txt
  doc/conformance/CB07_1.txt
  doc/conformance/CB07_2.txt
  doc/conformance/CB07_3.txt
  doc/conformance/CB08.txt
  doc/conformance/CB09.txt
  doc/conformance/CB10.txt
  doc/conformance/CB11.txt
  doc/conformance/CB12.txt
  doc/conformance/CB14.txt
  doc/conformance/CB15.txt
  doc/conformance/CB16.txt
  doc/conformance/CB17.txt
  doc/conformance/CB18.txt
  doc/conformance/CB19.txt
  doc/conformance/CB20.txt
  encode_all
  scripts/build/build_dependencies.py
  scripts/test/encode_conformance_bitstream.py
  scripts/test/vpcc_conformance_parse_test.py
Due: Python formatting, Python unit tests

ai_attribute_dimension_partitions_minus1
  scripts/test/vpcc_conformance_parse_test.py
  source/BitstreamMerger/src/BitstreamMerger.cpp
  source/Decoder/src/PreRenderer.cpp
  source/Encoder/src/Encoder_prepareSequence.test.cpp
  source/Encoder/src/FramePacker.cpp
  source/MivBitstream/include/TMIV/MivBitstream/V3cParameterSet.h
  source/MivBitstream/include/TMIV/MivBitstream/V3cParameterSet.hpp
  source/MivBitstream/src/V3cParameterSet.cpp
  source/MivBitstream/src/V3cParameterSet.test.cpp
  source/MivBitstream/src/V3cUnit.test.cpp
  source/PtlChecker/src/PtlChecker.cpp
  source/PtlChecker/src/PtlChecker.test.cpp
  test/integration_test.md5
  test/integration_test_vc17.md5
Due: Python formatting, Python unit tests

Remove encode_all
  encode_all
Due: none

Correct CB10 and update conformance bitstream descriptions
  doc/conformance/CB01.txt
  doc/conformance/CB02.txt
  doc/conformance/CB03.txt
  doc/conformance/CB04.txt
  doc/conformance/CB05_1.txt
  doc/conformance/CB05_2.txt
  doc/conformance/CB05_3.txt
  doc/conformance/CB06.txt
  doc/conformance/CB07_1.txt
  doc/conformance/CB07_2.txt
  doc/conformance/CB07_3.txt
  doc/conformance/CB08.txt
  doc/conformance/CB09.txt
  doc/conformance/CB10.txt
  doc/conformance/CB11.txt
  doc/conformance/CB12.txt
  doc/conformance/CB14.txt
  doc/conformance/CB15.txt
  doc/conformance/CB16.txt
  doc/conformance/CB17.txt
  doc/conformance/CB18.txt
  doc/conformance/CB19.txt
  doc/conformance/CB20.txt
  scripts/test/encode_conformance_bitstream.py
Due: Python formatting, Python unit tests

Bump version to TMIV 16.0
  CMakeLists.txt
Due: none

cas_ -> csp_
  source/Decoder/src/PreRenderer.test.cpp
  source/MivBitstream/include/TMIV/MivBitstream/VuiParameters.h
  source/MivBitstream/include/TMIV/MivBitstream/VuiParameters.hpp
  source/MivBitstream/src/VuiParameters.cpp
  source/MivBitstream/src/VuiParameters.test.cpp
  test/integration_test.md5
  test/integration_test_vc17.md5
Due: none

Update the runner path after URL change
  .gitlab/ci/builds.yml
  .gitlab/ci/tests.yml
  scripts/ci/partial_clang_tidy.py
Due: Python formatting, Python unit tests

Resolve "m63503 Atlas flickering removal"
  config/ctc/miv_dsde_anchor/G_1_TMIV_encode.json
  config/ctc/miv_main_anchor/A_1_TMIV_encode.json
  config/test/entity_based_coding/E_1_TMIV_encode.json
  config/test/explicit_occupancy/O_1_TMIV_encode.json
  config/test/frame_packing/P_1_TMIV_encode.json
  config/test/full_views/V_1_TMIV_encode.json
  config/test/geometry_only/N_1_TMIV_encode.json
  config/test/geometry_packing/GP_1_TMIV_encode.json
  config/test/muliplexer_external_packed_video/P_1_TMIV_encode.json
  config/test/multi-tile/T_1_TMIV_encode.json
  config/test/non_irap_frames/I_1_TMIV_encode.json
  config/test/one_view/W_1_TMIV_encode.json
  source/Encoder/src/Configuration.cpp
  source/Encoder/src/Configuration.h
  source/Encoder/src/Configuration.test.cpp
  source/Encoder/src/EncoderImpl.h
  source/Encoder/src/Encoder_completeAccessUnit.cpp
  source/Encoder/src/Encoder_prepareAccessUnit.cpp
  source/Encoder/src/Encoder_prepareSequence.test.cpp
  source/Encoder/src/Encoder_pushFrame.cpp
  source/Encoder/src/PiecewiseLinearDepthScaling.cpp
  test/integration_test.md5
  test/integration_test_vc17.md5
Due: JSON formatting
