Repository bart-kroon/TM1: changes, and which GitLab CI jobs are due for each by the changed paths.
All: AsciiDoc, Python formatting, Python unit tests, JSON formatting

AsciiDoc:
  stage: build
  image: asciidoctor/docker-asciidoctor:1.2
  tags:
  - linux
  script:
  - cd doc/test_model
  - asciidoctor --backend html5 -a data-uri index.adoc
  - mv index.html ../../test_model.html
  - asciidoctor-pdf -r asciidoctor-mathematical -a pdf-style=pdf_theme.yml index.adoc
  ...

Python formatting:
  stage: formatting
  image: tmiv-ci:20220413
  tags:
  - linux-short
  script:
  - python3 -m black --check --diff scripts/

Python unit tests:
  stage: checks
  image: tmiv-ci:20220413
  tags:
  - linux-short
  cache:
    paths:
    - .cache/pip
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  before_script:
  - python3 -m pip install pytest pyfakefs
  script:
  - pytest scripts

JSON formatting:
  stage: formatting
  image: tmiv-ci:20220413
  tags:
  - linux-short
  script:
  - ./scripts/check/format_json.py
  - git diff
  - if [[ $(git diff) ]]; then echo "JSON formatting is wrong. Please see above."; return 1; fi

Try if this has any effect
  source/Pruner/src/HierarchicalPruner.cpp
Due: none

Resolve "align implementation of PLS with MIV WD2 spec"
  source/Encoder/src/Encoder_completeAccessUnit.cpp
  source/MivBitstream/include/TMIV/MivBitstream/CafMivExtension.h
  source/MivBitstream/include/TMIV/MivBitstream/CafMivExtension.hpp
  source/MivBitstream/include/TMIV/MivBitstream/DepthOccupancyTransform.h
  source/MivBitstream/src/CafMivExtension.cpp
  source/MivBitstream/src/CommonAtlasFrameRBSP.cpp
  source/MivBitstream/src/DepthOccupancyTransform.cpp
  source/MivBitstream/src/DepthOccupancyTransform.test.cpp
Due: none

Workaround for VS 2022 bug
  source/Encoder/src/Encoder.main.cpp
Due: none

Resolve "VS 2022 build fails"
  test/integration_test_vc17.md5
Due: none

Resolve "Extend CMake project to allow for partial build"
  CMakeLists.txt
  cmake/HM.cmake
  cmake/test_creation.cmake
  cmake/tmiv_module_creation.cmake
  source/Common/CMakeLists.txt
  source/VideoDecoder/CMakeLists.txt
Due: none

Add NativeVideoDecoderTest
  scripts/test/integration_test.py
  source/Decoder/CMakeLists.txt
  source/Decoder/src/MockVideoDecoder.hpp
  source/Decoder/src/NativeVideoDecoder.test.cpp
Due: Python formatting, Python unit tests

added if as in 23090-23 spec
  source/Decoder/src/OutputLog.cpp
Due: none

Enable C++20 (super) build
  CMakeLists.txt
  cmake/HM.cmake
  cmake/VVenC.cmake
  cmake/catch2.cmake
  cmake/test_creation.cmake
  cmake/tmiv_module_creation.cmake
  doc/module_graph.svg
  source/Common/src/Source.test.cpp
  source/IO/src/load.cpp
  source/IO/src/save.cpp
  source/MpiPcs/src/MpiPcs.cpp
  source/MpiPcs/src/MpiPcs.main.cpp
  source/UnitTest/CMakeLists.txt
  source/UnitTest/src/UnitTest.main.cpp
  source/VideoDecoder/CMakeLists.txt
  source/VideoDecoder/src/HM/HmPartition.cpp
  source/VideoDecoder/src/HM/HmVideoDecoder.cpp
  source/VideoDecoder/src/PartitionImpl.h
  source/VideoDecoder/src/VVdeC/VVdeCPartition.cpp
  source/VideoDecoder/src/VVdeC/VVdeCVideoDecoder.cpp
Due: none

704-make-mpi-decoding-possible-from-out-of-band
  source/Encoder/src/MpiEncoder.main.cpp
Due: none

re-ordering of operations to make geoBitDepth available at computeCameraVisibility step
  source/Renderer/src/ViewWeightingSynthesizer.cpp
Due: none

Prebuild dependencies
  .gitignore
  .gitlab/ci/builds.yml
  .gitlab/ci/checks.yml
  .gitlab/ci/tests.yml
  CMakeLists.txt
  README.md
  cmake/HM.cmake
  cmake/VVdeC.cmake
  cmake/VVenC.cmake
  cmake/catch2.cmake
  cmake/find_or_fetch.cmake
  cmake/fmt.cmake
  doc/building.md
  doc/running.md
  scripts/build/HM/CMakeLists.txt
  scripts/build/HM/HMConfig.cmake.in
  scripts/build/build_dependencies.bat
  scripts/build/build_dependencies.json
  scripts/build/build_dependencies.py
  scripts/check/format_json.py
  scripts/ci/partial_clang_tidy.py
  scripts/docker/tmiv-checks/Dockerfile
  scripts/docker/tmiv-checks/build_docker_image.py
  scripts/docker/tmiv-ci/.gitignore
  scripts/docker/tmiv-ci/Dockerfile
  scripts/docker/tmiv-ci/build_docker_image.py
  scripts/test/integration_test.py
  source/Common/CMakeLists.txt
  source/VideoDecoder/CMakeLists.txt
  source/VideoDecoder/src/Partition.test.cpp
  source/VideoDecoder/src/VVdeC/VVdeCVideoDecoder.cpp
Due: Python formatting, Python unit tests, JSON formatting

Follow-up of Prebuild dependencies
  CMakeLists.txt
  cmake/find_or_fetch.cmake
  doc/building.md
  scripts/build/build_dependencies.bat
  scripts/build/build_dependencies.py
Due: Python formatting, Python unit tests

Error in decoding of GUP parameters
  source/Decoder/include/TMIV/Decoder/DecodeCommonAtlas.h
  test/integration_test.md5
  test/integration_test_vc17.md5
Due: none

Recover pruned views: transparency component
  source/Renderer/src/RecoverPrunedViews.cpp
Due: none

TMIV::Common::handleException
  source/Common/CMakeLists.txt
  source/Common/include/TMIV/Common/verify.h
  source/Common/src/handleException.cpp
  source/Decoder/src/Decoder.main.cpp
  source/Decoder/src/DecoderLog.main.cpp
  source/Decoder/src/NativeVideoDecoder.test.cpp
  source/Encoder/src/Encoder.main.cpp
  source/Encoder/src/MpiEncoder.main.cpp
  source/MpiPcs/src/MpiPcs.main.cpp
  source/Multiplexer/src/Multiplexer.main.cpp
  source/Parser/src/BitrateReport.main.cpp
  source/Parser/src/Parser.main.cpp
  source/Renderer/src/Renderer.main.cpp
Due: none

The complete git tag should be provided by the fetchcontent caller
  cmake/find_or_fetch.cmake
Due: none

AdditiveSynthesizer: make use of reconstructed occupancy
  source/Renderer/src/AdditiveSynthesizer.cpp
Due: none

Resolve "Dependence of CI on pip install"
  .gitlab/ci/builds.yml
  .gitlab/ci/checks.yml
  .gitlab/ci/tests.yml
  scripts/docker/tmiv-checks/Dockerfile
  scripts/docker/tmiv-ci/Dockerfile
Due: Python formatting, Python unit tests

Replace platform dependent primitive types, disallow c-style cast
  scripts/check/code_quality_rules.py
  source/Aggregator/src/Aggregator.test.cpp
  source/Decoder/include/TMIV/Decoder/DecodeMiv.h
  source/Decoder/src/DecodeMiv.cpp
  source/Decoder/src/MockVideoDecoder.hpp
  source/Decoder/src/NativeVideoDecoder.test.cpp
  source/Encoder/src/Configuration.cpp
  source/Encoder/src/Configuration.h
  source/Encoder/src/EncoderImpl.h
  source/Encoder/src/Encoder_completeAccessUnit.cpp
  source/Encoder/src/GeometryQuantizer.cpp
  source/Encoder/src/PiecewiseLinearDepthScaling.cpp
  source/Encoder/src/PiecewiseLinearDepthScaling.h
  source/Encoder/src/PiecewiseLinearDepthScaling.test.cpp
  source/GaInserter/src/GaInserter.main.cpp
  source/MivBitstream/include/TMIV/MivBitstream/AtlasId.h
  source/MivBitstream/include/TMIV/MivBitstream/CafMivExtension.h
  source/MivBitstream/include/TMIV/MivBitstream/GeometryAssistance.h
  source/MivBitstream/src/CafMivExtension.cpp
  source/MivBitstream/src/CommonAtlasFrameRBSP.cpp
  source/MivBitstream/src/DepthOccupancyTransform.cpp
  source/MivBitstream/src/DepthOccupancyTransform.test.cpp
  source/MivBitstream/src/GeometryAssistance.cpp
  source/Pruner/src/HierarchicalPruner.cpp
  source/PtlChecker/src/PtlChecker.test.cpp
  source/VideoDecoder/src/Partition.test.cpp
  source/VideoDecoder/src/VVdeC/VVdeCPartition.cpp
  source/VideoDecoder/src/VVdeC/VVdeCVideoDecoder.cpp
  source/ViewOptimizer/src/ServerSideInpainter.cpp
Due: Python formatting, Python unit tests

707-removed-hard-coded-values-from-mpi-encoder-configuration file
  config/test/miv_mpi/M_1_TMIV_encode.json
  config/test/miv_mpi/readme.md
Due: JSON formatting

Bump version to 14.0.0
  CMakeLists.txt
Due: none

M59955 full range video coding of transparency attribute
  config/test/miv_mpi/M_2_HM_encode_tra.cfg
  test/integration_test.md5
  test/integration_test_vc17.md5
Due: none

running.md modification to warn a user regarding the intraperiod value
  doc/running.md
Due: none

m59964 Still profiles for MIV
  config/ctc/miv_anchor/A_1_TMIV_encode.json
  config/ctc/miv_dsde_anchor/G_1_TMIV_encode.json
  config/ctc/miv_view_anchor/V_1_TMIV_encode.json
  config/test/entity_based_coding/E_1_TMIV_encode.json
  config/test/explicit_occupancy/O_1_TMIV_encode.json
  config/test/frame_packing/P_1_TMIV_encode.json
  config/test/geometry_only/N_1_TMIV_encode.json
  config/test/miv_mpi/readme.md
  config/test/muliplexer_external_packed_video/P_1_TMIV_encode.json
  config/test/one_view/W_1_TMIV_encode.json
  doc/configuring.md
  scripts/test/integration_test.py
  source/Common/include/TMIV/Common/Common.h
  source/Decoder/src/DecodeMiv.cpp
  source/Decoder/src/DecodeMiv.test.cpp
  source/Decoder/src/FakeChecker.h
  source/Encoder/src/Configuration.cpp
  source/Encoder/src/Configuration.h
  source/Encoder/src/Configuration.test.cpp
  source/Encoder/src/Encoder_prepareSequence.cpp
  source/Encoder/src/Encoder_prepareSequence.test.cpp
  source/MivBitstream/include/TMIV/MivBitstream/V3cParameterSet.h
  source/MivBitstream/src/V3cParameterSet.cpp
  source/MivBitstream/src/V3cParameterSet.test.cpp
  source/PtlChecker/include/TMIV/PtlChecker/AbstractChecker.h
  source/PtlChecker/include/TMIV/PtlChecker/PtlChecker.h
  source/PtlChecker/src/PtlChecker.cpp
  source/PtlChecker/src/PtlChecker.test.cpp
  test/integration_test.md5
  test/integration_test_vc17.md5
Due: Python formatting, Python unit tests, JSON formatting

Increase code coverage
  .gitlab/ci/builds.yml
  source/Packer/CMakeLists.txt
  source/Packer/include/TMIV/Packer/Cluster.h
  source/Packer/src/Cluster.cpp
  source/Packer/src/Cluster.test.cpp
  source/Packer/src/MaxRectPiP.cpp
  source/Packer/src/MaxRectPiP.h
  source/Packer/src/MaxRectPiP.test.cpp
  source/Pruner/CMakeLists.txt
  source/Pruner/src/HierarchicalPruner.cpp
  source/Pruner/src/HierarchicalPruner.test.cpp
  source/Renderer/CMakeLists.txt
  source/Renderer/src/RecoverPrunedViews.cpp
  source/Renderer/src/RecoverPrunedViews.test.cpp
  source/Renderer/src/ViewWeightingSynthesizer.cpp
  source/Renderer/src/ViewWeightingSynthesizer.test.cpp
  source/ViewOptimizer/CMakeLists.txt
  source/ViewOptimizer/src/BasicViewAllocator.test.cpp
Due: none

Fixes to the CMake project
  source/Decoder/CMakeLists.txt
Due: none

Resolve "Nightly build failed"
  source/ViewOptimizer/CMakeLists.txt
  source/ViewOptimizer/src/BasicViewAllocator.test.cpp
Due: none

Resolve "wrong application names are printed when --help is issued on command-line"
  source/Common/include/TMIV/Common/LoggingStrategyFmt.h
  source/Common/src/Application.cpp
  source/Common/src/LoggingStrategy.cpp
  source/Common/src/LoggingStrategyFmt.test.cpp
  source/Common/src/handleException.cpp
Due: none

Resolve "Nightly build failed"
  cmake/test_creation.cmake
  cmake/tmiv_module_creation.cmake
  source/Common/CMakeLists.txt
  source/Decoder/CMakeLists.txt
  source/DepthQualityAssessor/CMakeLists.txt
  source/Encoder/CMakeLists.txt
  source/GaInserter/CMakeLists.txt
  source/IO/CMakeLists.txt
  source/MivBitstream/CMakeLists.txt
  source/MpiPcs/CMakeLists.txt
  source/Multiplexer/CMakeLists.txt
  source/Packer/CMakeLists.txt
  source/Parser/CMakeLists.txt
  source/Pruner/CMakeLists.txt
  source/PtlChecker/CMakeLists.txt
  source/Renderer/CMakeLists.txt
  source/VideoDecoder/CMakeLists.txt
  source/ViewOptimizer/CMakeLists.txt
  source/ViewingSpace/CMakeLists.txt
Due: none

VWS: Clear unused frame data
  source/Renderer/src/ViewWeightingSynthesizer.cpp
Due: none

Remove clearUnusedFramedata
  source/Renderer/src/ViewWeightingSynthesizer.cpp
Due: none

Use fixed notation for total time
  source/Common/src/Application.cpp
Due: none

Extract funtion and reduce code duplication
  source/Packer/src/Packer.cpp
Due: none

m60274 (#711)
  source/Packer/src/MaxRectPiP.cpp
  source/Packer/src/MaxRectPiP.h
  source/Packer/src/Packer.cpp
Due: none

Clamp before acos
  source/ViewingSpace/src/ViewingSpaceEvaluator.cpp
Due: none

Improve error message (#723)
  scripts/check/code_quality_rules.py
Due: Python formatting, Python unit tests

Remove workaround for VC17
  source/Encoder/src/Encoder.main.cpp
Due: none

Pimpl PtlChecker
  source/PtlChecker/include/TMIV/PtlChecker/PtlChecker.h
  source/PtlChecker/src/PtlChecker.cpp
Due: none

Path conditions:
  AsciiDoc: any of: .gitlab/ci/asciidoc.yml, doc/test_model/**/*
  Python formatting: any of: **/*.py, .gitlab/ci/checks.yml
  Python unit tests: any of: **/*.py, .gitlab/ci/checks.yml
  JSON formatting: any of: **/*.json
