Repository bart-kroon/TM1: changes, and which GitLab CI jobs are due for each by the changed paths.
All: AsciiDoc, Python formatting, Python unit tests, JSON formatting

AsciiDoc:
  stage: build
  image: asciidoctor/docker-asciidoctor:1.2
  tags:
  - linux
  script:
  - cd doc/test_model
  - asciidoctor --backend html5 -a data-uri index.adoc
  - mv index.html ../../test_model.html
  - asciidoctor-pdf -r asciidoctor-mathematical -a pdf-style=pdf_theme.yml index.adoc
  ...

Python formatting:
  stage: formatting
  image: tmiv-ci:20220413
  tags:
  - linux-short
  script:
  - python3 -m black --check --diff scripts/

Python unit tests:
  stage: checks
  image: tmiv-ci:20220413
  tags:
  - linux-short
  cache:
    paths:
    - .cache/pip
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  before_script:
  - python3 -m pip install pytest pyfakefs
  script:
  - pytest scripts

JSON formatting:
  stage: formatting
  image: tmiv-ci:20220413
  tags:
  - linux-short
  script:
  - ./scripts/check/format_json.py
  - git diff
  - if [[ $(git diff) ]]; then echo "JSON formatting is wrong. Please see above."; return 1; fi

Refactor atlas tiling: avoid duplicate state
  source/Decoder/include/TMIV/Decoder/DecodePatchParamsList.h
  source/Decoder/src/DecodeMiv.cpp
  source/Decoder/src/DecodePatchParamsList.cpp
  source/Encoder/include/TMIV/Encoder/MpiEncoder.h
  source/Encoder/src/EncodeMiv.cpp
  source/Encoder/src/EncoderImpl.h
  source/Encoder/src/Encoder_completeAccessUnit.cpp
  source/Encoder/src/Encoder_prepareSequence.cpp
  source/Encoder/src/MpiEncoder.cpp
  source/Encoder/test/EncodeMiv_test.cpp
  source/Encoder/test/Encoder_prepareSequence_test.cpp
  source/MivBitstream/include/TMIV/MivBitstream/AccessUnit.h
  source/MivBitstream/include/TMIV/MivBitstream/AtlasTileLayerRBSP.h
  source/MivBitstream/include/TMIV/MivBitstream/EncoderParams.h
  source/MivBitstream/include/TMIV/MivBitstream/PatchParamsList.h
  source/MivBitstream/include/TMIV/MivBitstream/PatchParamsList.hpp
  source/MivBitstream/include/TMIV/MivBitstream/Tile.h
  source/MivBitstream/include/TMIV/MivBitstream/Tile.hpp
  source/MivBitstream/src/PatchParamsList.cpp
  source/MivBitstream/test/PatchParamsList_test.cpp
  source/Packer/include/TMIV/Packer/IPacker.h
  source/Packer/include/TMIV/Packer/Packer.h
  source/Packer/src/Packer.cpp
Due: none

Common::BufferingStage
  .gitignore
  source/Common/CMakeLists.txt
  source/Common/include/TMIV/Common/Stage.h
  source/Common/test/Stage_test.cpp
  source/Encoder/CMakeLists.txt
  source/Encoder/include/TMIV/Encoder/Encoder.h
  source/Encoder/src/Configuration.cpp
  source/Encoder/src/Configuration.h
  source/Encoder/src/Encoder.cpp
  source/Encoder/src/EncoderImpl.cpp
  source/Encoder/src/EncoderImpl.h
  source/Encoder/src/Encoder_completeAccessUnit.cpp
  source/Encoder/src/Encoder_popFrame.cpp
Due: none

MPEG 145 EE 1 Task 4.1 Refactoring 9
  CMakeLists.txt
  source/DepthQualityAssessor/CMakeLists.txt
  source/DepthQualityAssessor/include/TMIV/DepthQualityAssessor/DepthQualityAssessorStage.h
  source/DepthQualityAssessor/src/DepthQualityAssessorStage.cpp
  source/Downscaler/CMakeLists.txt
  source/Downscaler/include/TMIV/Downscaler/DownscalerStage.h
  source/Downscaler/src/DownscalerStage.cpp
  source/Encoder/CMakeLists.txt
  source/Encoder/app/CodableUnitEncoder.cpp
  source/Encoder/app/Encoder_main.cpp
  source/Encoder/app/SourceUnitLoader.cpp
  source/Encoder/app/SourceUnitLoader.h
  source/Encoder/src/Configuration.cpp
  source/Encoder/src/Configuration.h
  source/Encoder/src/EncoderImpl.cpp
  source/Encoder/src/EncoderImpl.h
  source/Encoder/src/Encoder_completeAccessUnit.cpp
  source/Encoder/src/Encoder_prepareSequence.cpp
  source/Encoder/src/PiecewiseLinearDepthScaling.cpp
  source/Encoder/test/Configuration_test.cpp
  source/Encoder/test/PiecewiseLinearDepthScaling_test.cpp
  source/FramePacker/CMakeLists.txt
  source/FramePacker/include/TMIV/FramePacker/FramePackerStage.h
  source/FramePacker/src/FramePackerStage.cpp
  source/Quantizer/CMakeLists.txt
  source/Quantizer/include/TMIV/Quantizer/GeometryQuantizer.h
  source/Quantizer/include/TMIV/Quantizer/QuantizerStage.h
  source/Quantizer/src/GeometryQuantizer.cpp
  source/Quantizer/src/QuantizerStage.cpp
  source/Quantizer/test/GeometryQuantizer_test.cpp
  source/ViewOptimizer/CMakeLists.txt
  source/ViewOptimizer/include/TMIV/ViewOptimizer/ViewOptimizerStage.h
  source/ViewOptimizer/src/ViewOptimizerStage.cpp
Due: none

Check for unused keys
  config/ctc/miv_dsde_anchor/G_1_TMIV_encode.json
  config/ctc/miv_main_anchor/A_1_TMIV_encode.json
  config/test/entity_based_coding/E_1_TMIV_encode.json
  config/test/explicit_occupancy/O_1_TMIV_encode.json
  config/test/full_views/V_1_TMIV_encode.json
  config/test/geometry_only/N_1_TMIV_encode.json
  config/test/geometry_packing/GP_1_TMIV_encode.json
  config/test/miv_main_anchor/A_1_TMIV_encode.json
  config/test/miv_mpi/M_1_TMIV_encode.json
  config/test/muliplexer_external_packed_video/P_1_TMIV_encode.json
  config/test/multi-tile/T_1_TMIV_encode.json
  config/test/non_irap_frames/I_1_TMIV_encode.json
  config/test/one_view/W_1_TMIV_encode.json
  config/test/one_view/W_4_TMIV_decode.json
  scripts/test/integration_test.py
  source/BitstreamMerger/app/BitstreamMerger_main.cpp
  source/Common/include/TMIV/Common/Json.h
  source/Common/include/TMIV/Common/Json.hpp
  source/Common/src/Json.cpp
  source/Decoder/app/Decoder_main.cpp
  source/Encoder/app/CodableUnitEncoder.cpp
  source/Encoder/app/Encoder_main.cpp
  source/Encoder/app/MpiEncoder_main.cpp
  source/Encoder/app/SourceUnitLoader.cpp
  source/Encoder/src/MpiEncoder.cpp
  source/Encoder/test/Configuration_test.cpp
  source/IO/include/TMIV/IO/IO.h
  source/IO/src/load.cpp
  source/IO/src/save.cpp
  source/MpiPcs/app/MpiPcs_main.cpp
  source/Multiplexer/app/Multiplexer_main.cpp
  source/Renderer/app/Renderer_main.cpp
Due: Python formatting, Python unit tests, JSON formatting

Disentangle Encoder::Impl::constructVideoFrames
  source/Encoder/src/EncoderImpl.cpp
  source/Encoder/src/EncoderImpl.h
  source/Encoder/src/Encoder_completeAccessUnit.cpp
Due: none

Refactoring 11
  source/Encoder/CMakeLists.txt
  source/Encoder/app/Encoder_main.cpp
  source/Encoder/include/TMIV/Encoder/FilterPatchMarginStage.h
  source/Encoder/src/Configuration.cpp
  source/Encoder/src/Configuration.h
  source/Encoder/src/EncoderImpl.h
  source/Encoder/src/Encoder_completeAccessUnit.cpp
  source/Encoder/src/Encoder_prepareSequence.cpp
  source/Encoder/src/FilterPatchMarginStage.cpp
  source/Encoder/test/Configuration_test.cpp
  source/Encoder/test/Encoder_prepareSequence_test.cpp
  source/Quantizer/test/GeometryQuantizer_test.cpp
Due: none

Revert split of encoder implementation
  source/Encoder/CMakeLists.txt
  source/Encoder/src/Encoder.cpp
  source/Encoder/src/EncoderImpl.cpp
  source/Encoder/src/EncoderImpl.h
  source/Encoder/src/Encoder_completeAccessUnit.cpp
  source/Encoder/src/Encoder_prepareAccessUnit.cpp
  source/Encoder/src/Encoder_prepareSequence.cpp
  source/Encoder/src/Encoder_pushFrame.cpp
  source/Encoder/test/Encoder_prepareSequence_test.cpp
Due: none

Refactor MpiEncoder
  config/test/miv_mpi/readme.md
  config/test/miv_packed_mpi/Q_1_TMIV_encode.json
  config/test/miv_packed_mpi/Q_2_VVenC_encode_pac.cfg
  config/test/miv_packed_mpi/Q_3_TMIV_mux.json
  config/test/miv_packed_mpi/Q_4_TMIV_decode.json
  scripts/test/integration_test.py
  source/Common/include/TMIV/Common/Formatters.h
  source/Encoder/CMakeLists.txt
  source/Encoder/app/CodableUnitEncoder.cpp
  source/Encoder/app/Encoder_main.cpp
  source/Encoder/app/MpiEncoder_main.cpp
  source/Encoder/app/SourceUnitLoader.cpp
  source/Encoder/app/SourceUnitLoader.h
  source/Encoder/include/TMIV/Encoder/MpiEncoder.h
  source/Encoder/src/Configuration.cpp
  source/Encoder/src/Configuration.h
  source/Encoder/src/MpiEncoder.cpp
  source/FramePacker/src/FramePacker.cpp
  source/FramePacker/src/FramePackerStage.cpp
  source/Renderer/src/MpiSynthesizer.cpp
  test/integration_test.md5
Due: Python formatting, Python unit tests, JSON formatting

Versions
  .gitignore
  source/BitstreamMerger/app/BitstreamMerger_main.cpp
  source/Common/src/Application.cpp
  source/Common/test/Common_test.cpp
  source/Decoder/app/Decoder_main.cpp
  source/Encoder/app/Encoder_main.cpp
  source/Encoder/app/MpiEncoder_main.cpp
  source/MpiPcs/app/MpiPcs_main.cpp
  source/Multiplexer/app/Multiplexer_main.cpp
  source/Renderer/app/Renderer_main.cpp
  source/VideoDecoder/CMakeLists.txt
  source/VideoDecoder/include/TMIV/VideoDecoder/Versions.h.in
Due: none

M65392 [MIV] Report of CE1 results
  scripts/build/build_dependencies.bat
  source/Decoder/src/DecodeViewParamsList.cpp
  source/EgaInserter/test/EgaInserter.test.reference.hpp
  source/Encoder/src/EncodeMiv.cpp
  source/GaInserter/test/GaInserter.test.reference.hpp
  source/MivBitstream/include/TMIV/MivBitstream/CafMivExtension.h
  source/MivBitstream/include/TMIV/MivBitstream/CommonAtlasSequenceParameterSetRBSP.h
  source/MivBitstream/include/TMIV/MivBitstream/CommonAtlasSequenceParameterSetRBSP.hpp
  source/MivBitstream/include/TMIV/MivBitstream/ViewParamsList.h
  source/MivBitstream/src/CafMivExtension.cpp
  source/MivBitstream/src/CommonAtlasSequenceParameterSetRBSP.cpp
  source/MivBitstream/test/CafMivExtension_test.cpp
  source/MivBitstream/test/CommonAtlasSequenceParameterSetRBSP_test.cpp
  test/integration_test.md5
Due: none

m64923 Editorial changes in WD3
  source/MivBitstream/include/TMIV/MivBitstream/CafMivExtension.h
  source/MivBitstream/include/TMIV/MivBitstream/CafMivExtension.hpp
  source/MivBitstream/src/CafMivExtension.cpp
  source/MivBitstream/test/CafMivExtension_test.cpp
Due: none

C++ formatting
  source/Encoder/app/Encoder_main.cpp
  source/Encoder/app/MpiEncoder_main.cpp
Due: none

Fix merge error
  source/Encoder/app/Encoder_main.cpp
  source/Encoder/app/MpiEncoder_main.cpp
Due: none

Update MD5 sums
  test/integration_test.md5
Due: none

m64708 [MIV] New depth maps for selected CTC sequences
  config/ctc/sequences/L01.md5
Due: none

Avoid accessing empty informationBuffer
  source/Packer/src/Retriever.cpp
Due: none

Pass --SIMD SCALAR to vvencFFapp
  scripts/test/integration_test.py
Due: Python formatting, Python unit tests

Harden: add array range checks and check assumptions in release builds
  source/Common/CMakeLists.txt
  source/Common/include/TMIV/Common/Array.h
  source/Common/include/TMIV/Common/verify.h
  source/Common/src/LoggingStrategy.cpp
  source/Packer/src/Cluster.cpp
  source/Packer/test/Cluster_test.cpp
  source/Renderer/src/Inpainter.cpp
  source/VideoDecoder/src/VVdeC/VVdeCVideoDecoder.cpp
  test/integration_test.md5
Due: none

Reduce blockSizeDepthQualityDependent to blockSize
  config/ctc/miv_dsde_anchor/G_1_TMIV_encode.json
  config/ctc/miv_main_anchor/A_1_TMIV_encode.json
  config/test/entity_based_coding/E_1_TMIV_encode.json
  config/test/explicit_occupancy/O_1_TMIV_encode.json
  config/test/frame_packing/P_1_TMIV_encode.json
  config/test/full_views/V_1_TMIV_encode.json
  config/test/geometry_only/N_1_TMIV_encode.json
  config/test/geometry_packing/GP_1_TMIV_encode.json
  config/test/miv_main_anchor/A_1_TMIV_encode.json
  config/test/muliplexer_external_packed_video/P_1_TMIV_encode.json
  config/test/multi-tile/T_1_TMIV_encode.json
  config/test/non_irap_frames/I_1_TMIV_encode.json
  config/test/one_view/W_1_TMIV_encode.json
  doc/configuring.md
  source/Encoder/src/Configuration.cpp
  source/Encoder/src/Configuration.h
  source/Encoder/src/Encoder.cpp
  source/Encoder/test/Configuration_test.cpp
  source/Quantizer/test/GeometryQuantizer_test.cpp
Due: JSON formatting

Remove the AdditiveSyntheizer
  config/test/additive_synthesizer/S_1_TMIV_render.json
  scripts/test/integration_test.py
  source/Encoder/app/registerComponents.cpp
  source/Packer/src/Cluster.cpp
  source/Renderer/CMakeLists.txt
  source/Renderer/app/registerComponents.cpp
  source/ViewOptimizer/CMakeLists.txt
  source/ViewOptimizer/include/TMIV/ViewOptimizer/AdditiveSynthesizer.h
  source/ViewOptimizer/include/TMIV/ViewOptimizer/IViewSynthesizer.h
  source/ViewOptimizer/src/AdditiveSynthesizer.cpp
  source/ViewOptimizer/src/ServerSideInpainter.cpp
  source/ViewOptimizer/test/ServerSideInpainter_test.cpp
  test/integration_test.md5
Due: Python formatting, Python unit tests, JSON formatting

Fix bug in previous MR
  source/Renderer/src/AccumulatingPixel.cpp
  source/ViewOptimizer/src/AdditiveSynthesizer.cpp
Due: none

Auto detect C++ standard, FMT 10.1.1, print stacktrace on failure (if available)
  .gitlab/ci/builds.yml
  .gitlab/ci/checks.yml
  .gitlab/ci/tests.yml
  CMakeLists.txt
  scripts/build/build_dependencies.json
  scripts/build/build_dependencies.py
  scripts/build/probe_compiler_features/CMakeLists.txt
  scripts/docker/tmiv-ci/.gitignore
  scripts/docker/tmiv-ci/Dockerfile
  scripts/docker/tmiv-ci/build_docker_image.py
  source/Common/CMakeLists.txt
  source/Common/include/TMIV/Common/Formatters.h
  source/Common/include/TMIV/Common/LoggingStrategyFmt.h
  source/Common/include/TMIV/Common/verify.h
  source/Common/src/LoggingStrategy.cpp
  source/Common/src/verify.cpp
  source/Common/test/Common_test.cpp
  source/MivBitstream/src/AtlasAdaptationParameterSetRBSP.cpp
  source/MivBitstream/src/AtlasFrameParameterSetRBSP.cpp
  source/MivBitstream/src/CommonAtlasFrameRBSP.cpp
  source/MivBitstream/src/CommonAtlasSequenceParameterSetRBSP.cpp
Due: Python formatting, Python unit tests, JSON formatting

Run VVenC and VVdeC with SSE 4.1
  scripts/test/integration_test.py
  source/VideoDecoder/src/VVdeC/VVdeCVideoDecoder.cpp
Due: Python formatting, Python unit tests

Probe compiler features
  scripts/build/build_dependencies.py
  scripts/build/probe_compiler_features/CMakeLists.txt
  scripts/build/probe_compiler_features/probe_compiler_features.cpp
  source/Common/include/TMIV/Common/Version.h.in
  source/Common/include/TMIV/Common/format.h
Due: Python formatting, Python unit tests

Use check_cxx_source_compiles to test for <format> and <print>
  CMakeLists.txt
  cmake/fmt.cmake
  cmake/test_creation.cmake
  scripts/build/build_dependencies.py
Due: Python formatting, Python unit tests

GCC 13 Clang 17
  .gitlab-ci.yml
  .gitlab/ci/builds.yml
  .gitlab/ci/checks.yml
  .gitlab/ci/rules.yml
  .gitlab/ci/tests.yml
  scripts/check/clang_format.py
  scripts/ci/partial_clang_tidy.py
  scripts/docker/tmiv-checks/Dockerfile
  scripts/docker/tmiv-ci/Dockerfile
  source/Common/include/TMIV/Common/Array.h
  source/Common/include/TMIV/Common/Bitstream.h
  source/Common/include/TMIV/Common/Bitstream.hpp
  source/Common/include/TMIV/Common/Matrix.h
  source/Common/include/TMIV/Common/Traits.h
  source/Common/include/TMIV/Common/format.h
  source/Common/include/TMIV/Common/verify.h
  source/Common/src/Bitstream.cpp
  source/MivBitstream/include/TMIV/MivBitstream/CafMivExtension.h
  source/PtlChecker/src/PtlChecker.cpp
Due: Python formatting, Python unit tests

Enable -Wshadow and partial fixes for -Wconversion
  .gitlab/ci/builds.yml
  source/Common/include/TMIV/Common/Array.h
  source/Common/include/TMIV/Common/Bitstream.h
  source/Common/include/TMIV/Common/Bitstream.hpp
  source/Common/include/TMIV/Common/Filter.h
  source/Common/include/TMIV/Common/Frame.h
  source/Common/include/TMIV/Common/Thread.h
  source/Common/include/TMIV/Common/Traits.h
  source/Common/include/TMIV/Common/verify.h
  source/Common/src/Application.cpp
  source/Common/src/Bitstream.cpp
  source/Common/src/Json.cpp
  source/Common/test/Bitstream_test.cpp
  source/Common/test/Filter_test.cpp
  source/Common/test/Source_test.cpp
  source/Packer/include/TMIV/Packer/Cluster.h
  source/Packer/src/Cluster.cpp
  source/Packer/src/Packer.cpp
  source/Renderer/test/PushPull_test.cpp
  source/VideoDecoder/src/HM/HmVideoDecoder.cpp
Due: none

Draft: Resolve "Bump version to TMIV 18.1"
  CMakeLists.txt
Due: none

Resolve path to internal installation directory
  scripts/build/build_dependencies.py
Due: Python formatting, Python unit tests

'fix:out-of-bounds-matrix-access'
  source/Packer/src/Cluster.cpp
Due: none

Update path after server migration
  .gitlab/ci/builds.yml
  .gitlab/ci/checks.yml
  .gitlab/ci/tests.yml
  scripts/test/encode_conformance_bitstream.py
Due: Python formatting, Python unit tests

Bump version to 19.0
  CMakeLists.txt
Due: none

m65908 MIV registered SEI message
  .clang-tidy
  source/MivBitstream/include/TMIV/MivBitstream/SeiRBSP.h
  source/MivBitstream/src/SeiRBSP.cpp
  source/MivBitstream/test/SeiRBSP_test.cpp
Due: none

Do not set vme_patch_margin_enabled_flag
  source/Encoder/src/Encoder.cpp
  test/integration_test.md5
Due: none

Correctly use profile toolset constraint information (PTCI)
  source/Encoder/src/Encoder.cpp
  source/MivBitstream/include/TMIV/MivBitstream/V3cParameterSet.h
  source/MivBitstream/test/V3cParameterSet_test.cpp
  source/PtlChecker/src/PtlChecker.cpp
  source/PtlChecker/test/PtlChecker_test.cpp
  test/integration_test.md5
Due: none

V-PCC draft conformance bitstreams
  .gitlab/ci/builds.yml
  .gitlab/ci/tests.yml
  scripts/test/vpcc_conformance_parse_test.py
  source/Common/src/Bitstream.cpp
Due: Python formatting, Python unit tests

casme_chroma_scaling_bit_depth_minus1
  source/Encoder/src/EncodeMiv.cpp
  source/Encoder/src/Encoder.cpp
  source/MivBitstream/include/TMIV/MivBitstream/CafMivExtension.h
  source/MivBitstream/include/TMIV/MivBitstream/CommonAtlasSequenceParameterSetRBSP.h
  source/MivBitstream/include/TMIV/MivBitstream/CommonAtlasSequenceParameterSetRBSP.hpp
  source/MivBitstream/src/CafMivExtension.cpp
  source/MivBitstream/src/CommonAtlasSequenceParameterSetRBSP.cpp
  source/MivBitstream/test/CafMivExtension_test.cpp
  source/MivBitstream/test/CommonAtlasSequenceParameterSetRBSP_test.cpp
  test/integration_test.md5
Due: none

Let the MPI encoder set all relevant PTCI flags
  source/Encoder/src/MpiEncoder.cpp
  test/integration_test.md5
Due: none

Improve CMake package
  cmake/TMIVConfig.cmake.in
Due: none

Path conditions:
  AsciiDoc: any of: .gitlab/ci/asciidoc.yml, doc/test_model/**/*
  Python formatting: any of: **/*.py, .gitlab/ci/checks.yml
  Python unit tests: any of: **/*.py, .gitlab/ci/checks.yml
  JSON formatting: any of: **/*.json
