Repository bart-kroon/TM1: changes, and which GitLab CI jobs are due for each by the changed paths.
All: AsciiDoc, Python formatting, Python unit tests, JSON formatting

AsciiDoc:
  stage: build
  image: asciidoctor/docker-asciidoctor:1.2
  tags:
  - linux
  script:
  - cd doc/test_model
  - asciidoctor --backend html5 -a data-uri index.adoc
  - mv index.html ../../test_model.html
  - asciidoctor-pdf -r asciidoctor-mathematical -a pdf-style=pdf_theme.yml index.adoc
  ...

Python formatting:
  stage: formatting
  image: tmiv-ci:20220413
  tags:
  - linux-short
  script:
  - python3 -m black --check --diff scripts/

Python unit tests:
  stage: checks
  image: tmiv-ci:20220413
  tags:
  - linux-short
  cache:
    paths:
    - .cache/pip
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  before_script:
  - python3 -m pip install pytest pyfakefs
  script:
  - pytest scripts

JSON formatting:
  stage: formatting
  image: tmiv-ci:20220413
  tags:
  - linux-short
  script:
  - ./scripts/check/format_json.py
  - git diff
  - if [[ $(git diff) ]]; then echo "JSON formatting is wrong. Please see above."; return 1; fi

Resolve "m63109 Renderer-side edge processing for subjective quality improvement"
  config/ctc/best_reference/R_1_TMIV_render.json
  config/ctc/miv_dsde_anchor/G_6_TMIV_render.json
  config/ctc/miv_main_anchor/A_4_TMIV_decode.json
  config/test/entity_based_coding/E_4_TMIV_decode.json
  config/test/explicit_occupancy/O_4_TMIV_decode.json
  config/test/frame_packing/P_4_TMIV_decode.json
  config/test/full_views/V_4_TMIV_decode.json
  config/test/geometry_only/N_4_TMIV_decode.json
  config/test/geometry_packing/GPM_5_TMIV_decode.json
  config/test/geometry_packing/GP_5_TMIV_decode.json
  config/test/multi-tile/T_4_TMIV_decode.json
  config/test/non_irap_frames/I_4_TMIV_decode.json
  config/test/one_view/W_4_TMIV_decode.json
  source/Renderer/src/ViewWeightingSynthesizer.cpp
  source/Renderer/src/ViewWeightingSynthesizer.test.cpp
  test/integration_test.md5
  test/integration_test_vc17.md5
Due: JSON formatting

Resolve "m63397 Chroma dynamic range modification"
  CMakeLists.txt
  config/ctc/miv_dsde_anchor/G_1_TMIV_encode.json
  config/ctc/miv_main_anchor/A_1_TMIV_encode.json
  config/test/entity_based_coding/E_1_TMIV_encode.json
  config/test/explicit_occupancy/O_1_TMIV_encode.json
  config/test/frame_packing/P_1_TMIV_encode.json
  config/test/full_views/V_1_TMIV_encode.json
  config/test/geometry_only/N_1_TMIV_encode.json
  config/test/geometry_packing/GP_1_TMIV_encode.json
  config/test/miv_mpi/M_1_TMIV_encode.json
  config/test/muliplexer_external_packed_video/P_1_TMIV_encode.json
  config/test/multi-tile/T_1_TMIV_encode.json
  config/test/non_irap_frames/I_1_TMIV_encode.json
  config/test/one_view/W_1_TMIV_encode.json
  source/Decoder/CMakeLists.txt
  source/Decoder/include/TMIV/Decoder/PreRenderer.h
  source/Decoder/src/DecodeViewParamsList.cpp
  source/Decoder/src/PreRenderer.cpp
  source/EgaInserter/src/EgaInserter.test.reference.hpp
  source/Encoder/CMakeLists.txt
  source/Encoder/src/Configuration.cpp
  source/Encoder/src/Configuration.h
  source/Encoder/src/Configuration.test.cpp
  source/Encoder/src/EncodeMiv.cpp
  source/Encoder/src/EncoderImpl.h
  source/Encoder/src/Encoder_completeAccessUnit.cpp
  source/Encoder/src/Encoder_prepareSequence.cpp
  source/GaInserter/src/GaInserter.test.reference.hpp
  source/MivBitstream/CMakeLists.txt
  source/MivBitstream/include/TMIV/MivBitstream/CafMivExtension.h
  source/MivBitstream/include/TMIV/MivBitstream/CafMivExtension.hpp
  source/MivBitstream/include/TMIV/MivBitstream/CommonAtlasSequenceParameterSetRBSP.h
  source/MivBitstream/include/TMIV/MivBitstream/CommonAtlasSequenceParameterSetRBSP.hpp
  source/MivBitstream/include/TMIV/MivBitstream/ViewParamsList.h
  source/MivBitstream/src/CafMivExtension.cpp
  source/MivBitstream/src/CafMivExtension.test.cpp
  source/MivBitstream/src/CommonAtlasSequenceParameterSetRBSP.cpp
  source/MivBitstream/src/CommonAtlasSequenceParameterSetRBSP.test.cpp
  source/MivBitstream/src/ViewParamsList.cpp
  test/integration_test.md5
Due: JSON formatting

M63213-EE8 information encoder
  .gitlab/ci/builds.yml
  CMakeLists.txt
  config/ctc/miv_dsde_anchor/G_1_TMIV_encode.json
  config/ctc/miv_main_anchor/A_1_TMIV_encode.json
  config/test/entity_based_coding/E_1_TMIV_encode.json
  config/test/explicit_occupancy/O_1_TMIV_encode.json
  config/test/frame_packing/P_1_TMIV_encode.json
  config/test/full_views/V_1_TMIV_encode.json
  config/test/geometry_only/N_1_TMIV_encode.json
  config/test/geometry_packing/GP_1_TMIV_encode.json
  config/test/miv_mpi/M_1_TMIV_encode.json
  config/test/muliplexer_external_packed_video/P_1_TMIV_encode.json
  config/test/multi-tile/T_1_TMIV_encode.json
  config/test/non_irap_frames/I_1_TMIV_encode.json
  config/test/one_view/W_1_TMIV_encode.json
  source/Aggregator/include/TMIV/Aggregator/Aggregator.h
  source/Aggregator/include/TMIV/Aggregator/IAggregator.h
  source/Aggregator/src/Aggregator.cpp
  source/Encoder/CMakeLists.txt
  source/Encoder/src/Configuration.cpp
  source/Encoder/src/Configuration.h
  source/Encoder/src/Configuration.test.cpp
  source/Encoder/src/EncoderImpl.h
  source/Encoder/src/Encoder_completeAccessUnit.cpp
  source/Encoder/src/Encoder_prepareSequence.test.cpp
  source/Encoder/src/Encoder_pushFrame.cpp
  source/Encoder/src/MpiEncoder.cpp
  source/Packer/include/TMIV/Packer/Cluster.h
  source/Packer/include/TMIV/Packer/IPacker.h
  source/Packer/include/TMIV/Packer/Packer.h
  source/Packer/src/Cluster.cpp
  source/Packer/src/Packer.cpp
  source/Pruner/include/TMIV/Pruner/HierarchicalPruner.h
  source/Pruner/include/TMIV/Pruner/IPruner.h
  source/Pruner/include/TMIV/Pruner/NoPruner.h
  source/Pruner/src/HierarchicalPruner.cpp
  source/Pruner/src/NoPruner.cpp
  test/integration_test.md5
Due: JSON formatting

Build GCC in C++23 mode with -Wshadow and -Wconversion
  .gitlab/ci/builds.yml
  source/Common/src/Application.cpp
  source/Common/src/LoggingStrategy.test.cpp
  source/Decoder/src/Decoder.main.cpp
  source/Decoder/src/PreRenderer.cpp
  source/Encoder/src/Encoder_completeAccessUnit.cpp
  source/Encoder/src/FramePacker.cpp
  source/Encoder/src/MpiEncoder.cpp
  source/MivBitstream/include/TMIV/MivBitstream/DepthOccupancyTransform.hpp
  source/MivBitstream/include/TMIV/MivBitstream/ViewParamsList.h
  source/MivBitstream/src/AccessUnit.cpp
  source/MivBitstream/src/SequenceConfig.cpp
  source/MivBitstream/src/V3cParameterSet.cpp
  source/MpiPcs/src/Frame.cpp
  source/Packer/src/Packer.cpp
  source/Pruner/src/HierarchicalPruner.cpp
  source/Pruner/src/LumaStdDev.cpp
  source/Pruner/src/NoPruner.cpp
  source/PtlChecker/src/PtlChecker.cpp
  source/Renderer/src/AdditiveSynthesizer.cpp
  source/Renderer/src/Inpainter.cpp
  source/Renderer/src/Renderer.main.cpp
  source/VideoDecoder/src/VVdeC/VVdeCVideoDecoder.cpp
  source/ViewOptimizer/src/ServerSideInpainter.cpp
  source/ViewOptimizer/src/ServerSideInpainter.test.cpp
Due: none

m62894 [MIV] On default values for some MIV related syntax elements
  source/Encoder/src/ExplicitOccupancy.test.cpp
  source/Encoder/src/GeometryQuantizer.test.cpp
  source/Encoder/src/MpiEncoder.cpp
  source/MivBitstream/include/TMIV/MivBitstream/V3cParameterSet.h
  source/MivBitstream/src/V3cParameterSet.test.cpp
Due: none

Report coverage
  .gitlab/ci/builds.yml
Due: none

m63015 New depth maps for Breakfast sequence (MD5 susms)
  config/ctc/sequences/D02.md5
Due: none

Correct MIV DSDE anchor configuration
  config/ctc/miv_dsde_anchor/G_3_TMIV_mux.json
Due: JSON formatting

Fix use of halveDepthRange flag
  source/Encoder/src/Encoder_completeAccessUnit.cpp
Due: none

Resolve "`AtlasPatch3dOffsetD` is incorrectly used when expanding depth"
  source/MivBitstream/include/TMIV/MivBitstream/DepthOccupancyTransform.h
  source/MivBitstream/src/DepthOccupancyTransform.cpp
  source/MivBitstream/src/DepthOccupancyTransform.test.cpp
  source/Renderer/src/MpiSynthesizer.cpp
Due: none

Refactor geometry quantization
  scripts/build/build_dependencies.py
  scripts/test/integration_test.py
  source/Common/CMakeLists.txt
  source/Common/include/TMIV/Common/Distribution.h
  source/Common/include/TMIV/Common/Frame.h
  source/Common/include/TMIV/Common/Matrix.h
  source/Common/src/Distribution.cpp
  source/Common/src/Distribution.test.cpp
  source/Encoder/CMakeLists.txt
  source/Encoder/src/EncoderImpl.h
  source/Encoder/src/Encoder_completeAccessUnit.cpp
  source/Encoder/src/Encoder_popFrame.cpp
  source/Encoder/src/Encoder_pushFrame.cpp
  source/Encoder/src/GeometryQuantizer.cpp
  source/Encoder/src/GeometryQuantizer.test.cpp
  source/Pruner/src/HierarchicalPruner.cpp
  test/integration_test.md5
Due: Python formatting, Python unit tests

Remove NOLINT's when possible
  .clang-tidy
  source/Common/include/TMIV/Common/Common.h
  source/Common/include/TMIV/Common/Source.h
  source/Common/include/TMIV/Common/verify.h
  source/Decoder/src/DecodeMiv.cpp
  source/PtlChecker/src/PtlChecker.cpp
  source/PtlChecker/src/PtlChecker.test.cpp
  source/Renderer/include/TMIV/Renderer/AccumulatingPixel.h
Due: none

m63656 [V3C] VPS MIV edition 2 extension
  source/Common/include/TMIV/Common/Common.h
  source/Decoder/src/DecodeMiv.cpp
  source/Decoder/src/PreRenderer.cpp
  source/MivBitstream/include/TMIV/MivBitstream/V3cParameterSet.h
  source/MivBitstream/include/TMIV/MivBitstream/V3cParameterSet.hpp
  source/MivBitstream/src/V3cParameterSet.cpp
  source/MivBitstream/src/V3cParameterSet.test.cpp
  source/PtlChecker/src/PtlChecker.cpp
Due: none

Bump version to TMIV 17.0
  CMakeLists.txt
Due: none

Add PTL codec IDC "HEVC Main"
  source/MivBitstream/include/TMIV/MivBitstream/V3cParameterSet.h
  source/MivBitstream/src/V3cParameterSet.cpp
  source/MivBitstream/src/V3cParameterSet.test.cpp
Due: none

Resolve "m64165 [MIV] Patch margin signaling for low-bitrate rendering improvement"
  config/ctc/miv_dsde_anchor/G_1_TMIV_encode.json
  config/ctc/miv_main_anchor/A_1_TMIV_encode.json
  config/test/entity_based_coding/E_1_TMIV_encode.json
  config/test/explicit_occupancy/O_1_TMIV_encode.json
  config/test/frame_packing/P_1_TMIV_encode.json
  config/test/full_views/V_1_TMIV_encode.json
  config/test/geometry_only/N_1_TMIV_encode.json
  config/test/geometry_packing/GP_1_TMIV_encode.json
  config/test/miv_mpi/M_1_TMIV_encode.json
  config/test/muliplexer_external_packed_video/P_1_TMIV_encode.json
  config/test/multi-tile/T_1_TMIV_encode.json
  config/test/non_irap_frames/I_1_TMIV_encode.json
  config/test/one_view/W_1_TMIV_encode.json
  source/Decoder/src/PreRenderer.cpp
  source/Encoder/src/Configuration.cpp
  source/Encoder/src/Configuration.h
  source/Encoder/src/Configuration.test.cpp
  source/Encoder/src/EncoderImpl.h
  source/Encoder/src/Encoder_prepareSequence.cpp
  source/Encoder/src/Encoder_prepareSequence.test.cpp
  source/Encoder/src/GeometryQuantizer.test.cpp
  source/MivBitstream/include/TMIV/MivBitstream/AtlasSequenceParameterSetRBSP.h
  source/MivBitstream/include/TMIV/MivBitstream/AtlasSequenceParameterSetRBSP.hpp
  source/MivBitstream/include/TMIV/MivBitstream/AtlasTileLayerRBSP.h
  source/MivBitstream/include/TMIV/MivBitstream/AtlasTileLayerRBSP.hpp
  source/MivBitstream/include/TMIV/MivBitstream/PatchParamsList.h
  source/MivBitstream/include/TMIV/MivBitstream/PatchParamsList.hpp
  source/MivBitstream/include/TMIV/MivBitstream/V3cParameterSet.h
  source/MivBitstream/include/TMIV/MivBitstream/V3cParameterSet.hpp
  source/MivBitstream/src/AtlasSequenceParameterSetRBSP.cpp
  source/MivBitstream/src/AtlasSequenceParameterSetRBSP.test.cpp
  source/MivBitstream/src/AtlasTileLayerRBSP.cpp
  source/MivBitstream/src/PatchParamsList.cpp
  source/MivBitstream/src/V3cParameterSet.cpp
  source/MivBitstream/src/V3cParameterSet.test.cpp
  source/Packer/src/Packer.cpp
  test/integration_test.md5
Due: JSON formatting

Resolve "m64510 [MIV] Encoder-side filtration of patch margins"
  source/Encoder/src/EncoderImpl.h
  source/Encoder/src/Encoder_completeAccessUnit.cpp
  test/integration_test.md5
Due: none

m64468 gm_group_id bit count
  source/MivBitstream/src/V3cParameterSet.cpp
Due: none

Resolve "m63750 [MIV] Patch constellations"
  config/ctc/miv_dsde_anchor/G_1_TMIV_encode.json
  config/ctc/miv_main_anchor/A_1_TMIV_encode.json
  config/test/entity_based_coding/E_1_TMIV_encode.json
  config/test/explicit_occupancy/O_1_TMIV_encode.json
  config/test/frame_packing/P_1_TMIV_encode.json
  config/test/full_views/V_1_TMIV_encode.json
  config/test/geometry_only/N_1_TMIV_encode.json
  config/test/geometry_packing/GP_1_TMIV_encode.json
  config/test/miv_main_anchor/A_1_TMIV_encode.json
  config/test/muliplexer_external_packed_video/P_1_TMIV_encode.json
  config/test/non_irap_frames/I_1_TMIV_encode.json
  scripts/test/integration_test.py
  source/Encoder/src/Encoder_pushFrame.cpp
  source/MivBitstream/include/TMIV/MivBitstream/ViewParamsList.h
  source/Packer/include/TMIV/Packer/Cluster.h
  source/Packer/include/TMIV/Packer/Packer.h
  source/Packer/include/TMIV/Packer/Retriever.h
  source/Packer/src/Cluster.cpp
  source/Packer/src/Cluster.test.cpp
  source/Packer/src/MaxRectPiP.cpp
  source/Packer/src/MaxRectPiP.test.cpp
  source/Packer/src/Packer.cpp
  source/Packer/src/Retriever.cpp
  source/Packer/src/Retriever.test.cpp
  source/Pruner/include/TMIV/Pruner/HierarchicalPruner.h
  source/Pruner/include/TMIV/Pruner/IPruner.h
  source/Pruner/include/TMIV/Pruner/NoPruner.h
  source/Pruner/src/HierarchicalPruner.cpp
  source/Pruner/src/NoPruner.cpp
  source/ViewOptimizer/include/TMIV/ViewOptimizer/AbstractViewSelector.h
  source/ViewOptimizer/include/TMIV/ViewOptimizer/BasicViewAllocator.h
  source/ViewOptimizer/include/TMIV/ViewOptimizer/IViewOptimizer.h
  source/ViewOptimizer/src/AbstractViewSelector.cpp
  source/ViewOptimizer/src/BasicViewAllocator.cpp
  source/ViewOptimizer/src/BasicViewAllocator.test.cpp
  source/ViewOptimizer/src/ServerSideInpainter.cpp
  test/integration_test.md5
Due: Python formatting, Python unit tests, JSON formatting

Workaround for VS 2022 Test Explorer
  source/Common/src/Json.test.cpp
Due: none

Resolve "m63700 [MIV] Chroma dynamic range modification and MIV ed. 2"
  source/Encoder/src/EncodeMiv.cpp
  source/MivBitstream/include/TMIV/MivBitstream/CafMivExtension.h
  source/MivBitstream/src/CafMivExtension.cpp
  source/MivBitstream/src/CafMivExtension.test.cpp
  test/integration_test.md5
Due: none

VPS MIV 2 extension [m63655v4]
  source/MivBitstream/src/CommonAtlasSequenceParameterSetRBSP.cpp
  source/MivBitstream/src/CommonAtlasSequenceParameterSetRBSP.test.cpp
  source/MivBitstream/src/V3cParameterSet.cpp
  source/MivBitstream/src/V3cParameterSet.test.cpp
  test/integration_test.md5
Due: none

CE 2-related tidbits
  .gitlab/ci/builds.yml
  doc/configuring.md
  scripts/test/integration_test.py
  source/Common/include/TMIV/Common/Number.h
  source/Encoder/src/EncoderImpl.h
  source/Encoder/src/Encoder_completeAccessUnit.cpp
  source/Encoder/src/MpiEncoder.cpp
  source/MivBitstream/include/TMIV/MivBitstream/CommonAtlasFrameRBSP.h
  source/MivBitstream/include/TMIV/MivBitstream/DepthOccupancyTransform.h
  source/MivBitstream/src/DepthOccupancyTransform.cpp
  source/MivBitstream/src/DepthOccupancyTransform.test.cpp
  source/Renderer/src/ViewWeightingSynthesizer.test.cpp
  test/integration_test.md5
Due: Python formatting, Python unit tests

m64225 Capture device information
  source/EgaInserter/src/EgaInserter.cpp
  source/GaInserter/src/GaInserter.cpp
  source/MivBitstream/CMakeLists.txt
  source/MivBitstream/include/TMIV/MivBitstream/CafMivExtension.h
  source/MivBitstream/include/TMIV/MivBitstream/CafMivExtension.hpp
  source/MivBitstream/include/TMIV/MivBitstream/CaptureDeviceInformation.h
  source/MivBitstream/include/TMIV/MivBitstream/CommonAtlasFrameRBSP.h
  source/MivBitstream/include/TMIV/MivBitstream/CommonAtlasSequenceParameterSetRBSP.h
  source/MivBitstream/include/TMIV/MivBitstream/CommonAtlasSequenceParameterSetRBSP.hpp
  source/MivBitstream/include/TMIV/MivBitstream/V3cParameterSet.h
  source/MivBitstream/include/TMIV/MivBitstream/V3cParameterSet.hpp
  source/MivBitstream/src/CafMivExtension.cpp
  source/MivBitstream/src/CafMivExtension.test.cpp
  source/MivBitstream/src/CaptureDeviceInformation.cpp
  source/MivBitstream/src/CaptureDeviceInformation.test.cpp
  source/MivBitstream/src/CommonAtlasFrameRBSP.cpp
  source/MivBitstream/src/CommonAtlasFrameRBSP.test.cpp
  source/MivBitstream/src/CommonAtlasSequenceParameterSetRBSP.cpp
  source/MivBitstream/src/CommonAtlasSequenceParameterSetRBSP.test.cpp
  source/MivBitstream/src/V3cParameterSet.cpp
  source/MivBitstream/src/V3cParameterSet.test.cpp
  source/Parser/src/Parser.cpp
Due: none

Re-implement parallelFor
  source/Common/include/TMIV/Common/Thread.h
  source/DepthQualityAssessor/src/DepthQualityAssessor.cpp
  source/Encoder/src/MpiEncoder.cpp
  source/MpiPcs/src/Frame.cpp
  source/Renderer/src/ViewWeightingSynthesizer.cpp
Due: none

Resolve "Bump version to TMIV 17.1"
  CMakeLists.txt
Due: none

Resolve "Bump version to 18.0"
  CMakeLists.txt
Due: none

MPEG 145 EE 1 Task 4.1 Refactoring 1
  source/Common/include/TMIV/Common/Stage.h
  source/Encoder/app/Encoder_main.cpp
  source/Encoder/include/TMIV/Encoder/Encoder.h
  source/Encoder/src/Encoder.cpp
Due: none

MPEG 145 EE 1 Task 4.1 Refactoring 2
  source/DepthQualityAssessor/include/TMIV/DepthQualityAssessor/DepthQualityAssessor.h
  source/DepthQualityAssessor/include/TMIV/DepthQualityAssessor/Stage.h
  source/Encoder/app/Encoder_main.cpp
  source/Encoder/include/TMIV/Encoder/Encoder.h
  source/Encoder/src/Configuration.cpp
  source/Encoder/src/Configuration.h
  source/Encoder/src/EncoderImpl.cpp
  source/Encoder/src/EncoderImpl.h
  source/Encoder/src/Encoder_prepareSequence.cpp
  source/Encoder/test/Configuration_test.cpp
  source/Encoder/test/Encoder_prepareSequence_test.cpp
  source/MivBitstream/include/TMIV/MivBitstream/SequenceConfig.h
Due: none

MPEG 145 EE 1 Task 4.1 Refactoring 3
  source/DepthQualityAssessor/CMakeLists.txt
  source/DepthQualityAssessor/include/TMIV/DepthQualityAssessor/Stage.h
  source/DepthQualityAssessor/src/Stage.cpp
  source/Encoder/CMakeLists.txt
  source/Encoder/app/CodableUnitEncoder.cpp
  source/Encoder/app/CodableUnitEncoder.h
  source/Encoder/app/Encoder_main.cpp
  source/Encoder/include/TMIV/Encoder/Encoder.h
Due: none

MPEG 145 EE 1 Task 4.1 Refactoring 4
  source/Encoder/CMakeLists.txt
  source/Encoder/app/CodableUnitEncoder.cpp
  source/Encoder/app/Encoder_main.cpp
  source/Encoder/app/SourceUnitLoader.cpp
  source/Encoder/app/SourceUnitLoader.h
Due: none

MPEG 145 EE 1 Task 4.1 Refactoring 5
  source/Common/include/TMIV/Common/Stage.h
  source/DepthQualityAssessor/include/TMIV/DepthQualityAssessor/Stage.h
  source/Encoder/app/CodableUnitEncoder.cpp
  source/Encoder/app/CodableUnitEncoder.h
  source/Encoder/app/Encoder_main.cpp
  source/Encoder/app/SourceUnitLoader.cpp
  source/Encoder/app/SourceUnitLoader.h
  source/Encoder/include/TMIV/Encoder/Encoder.h
  source/Encoder/src/Encoder.cpp
  source/Encoder/src/EncoderImpl.cpp
  source/Encoder/src/EncoderImpl.h
  source/Encoder/src/Encoder_completeAccessUnit.cpp
  source/Encoder/src/Encoder_prepareSequence.cpp
  source/Encoder/src/Encoder_pushFrame.cpp
  source/MivBitstream/include/TMIV/MivBitstream/SequenceConfig.h
  source/MivBitstream/include/TMIV/MivBitstream/SourceUnit.h
  source/ViewOptimizer/CMakeLists.txt
  source/ViewOptimizer/include/TMIV/ViewOptimizer/Stage.h
  source/ViewOptimizer/src/Stage.cpp
Due: none

m65411 [MIV] CE2.1 Effective-Information-Based cluster merging and better cluster splitting
  source/Aggregator/src/Aggregator.cpp
  source/Packer/include/TMIV/Packer/Cluster.h
  source/Packer/include/TMIV/Packer/Packer.h
  source/Packer/include/TMIV/Packer/Retriever.h
  source/Packer/src/Cluster.cpp
  source/Packer/src/Packer.cpp
  source/Packer/src/Retriever.cpp
  source/Packer/test/Retriever_test.cpp
  test/integration_test.md5
Due: none

m64923 Support for linear normalized depth quantization
  source/MivBitstream/include/TMIV/MivBitstream/CafMivExtension.h
  source/MivBitstream/include/TMIV/MivBitstream/CafMivExtension.hpp
  source/MivBitstream/src/CafMivExtension.cpp
  source/MivBitstream/test/CafMivExtension_test.cpp
Due: none

MPEG 145 EE 1 Task 4.1 Refactoring 6
  CMakeLists.txt
  source/DepthQualityAssessor/include/TMIV/DepthQualityAssessor/Stage.h
  source/DepthQualityAssessor/src/Stage.cpp
  source/Encoder/CMakeLists.txt
  source/Encoder/app/Encoder_main.cpp
  source/Encoder/app/SourceUnitLoader.h
  source/Encoder/include/TMIV/Encoder/EncodeMiv.h
  source/Encoder/include/TMIV/Encoder/Encoder.h
  source/Encoder/include/TMIV/Encoder/MpiEncoder.h
  source/Encoder/src/Configuration.cpp
  source/Encoder/src/Configuration.h
  source/Encoder/src/Encoder.cpp
  source/Encoder/src/EncoderImpl.h
  source/Encoder/src/Encoder_completeAccessUnit.cpp
  source/Encoder/src/Encoder_popFrame.cpp
  source/Encoder/src/Encoder_prepareSequence.cpp
  source/Encoder/src/GeometryDownscaler.h
  source/Encoder/src/GeometryQuantizer.h
  source/Encoder/test/Configuration_test.cpp
  source/FramePacker/CMakeLists.txt
  source/FramePacker/include/TMIV/FramePacker/FramePacker.h
  source/FramePacker/include/TMIV/FramePacker/Stage.h
  source/FramePacker/src/FramePacker.cpp
  source/FramePacker/src/Stage.cpp
  source/FramePacker/test/FramePacker_test.cpp
  source/MivBitstream/include/TMIV/MivBitstream/CodableUnit.h
  source/MivBitstream/include/TMIV/MivBitstream/EncoderParams.h
  source/ViewOptimizer/include/TMIV/ViewOptimizer/Stage.h
  source/ViewOptimizer/src/Stage.cpp
Due: none

MPEG 145 EE 1 Task 4.1 Refactoring 7
  CMakeLists.txt
  source/Downscaler/CMakeLists.txt
  source/Downscaler/include/TMIV/Downscaler/GeometryDownscaler.h
  source/Downscaler/include/TMIV/Downscaler/Stage.h
  source/Downscaler/src/GeometryDownscaler.cpp
  source/Downscaler/src/Stage.cpp
  source/Encoder/CMakeLists.txt
  source/Encoder/app/Encoder_main.cpp
  source/Encoder/src/Encoder_prepareSequence.cpp
  source/Encoder/test/Encoder_prepareSequence_test.cpp
Due: none

MPEG 145 EE 1 Task 4.1 Refactoring 8
  source/Common/include/TMIV/Common/Frame.h
  source/Decoder/app/Decoder_main.cpp
  source/Downscaler/include/TMIV/Downscaler/GeometryDownscaler.h
  source/Downscaler/src/GeometryDownscaler.cpp
  source/Downscaler/src/Stage.cpp
  source/Encoder/app/CodableUnitEncoder.cpp
  source/Encoder/app/CodableUnitEncoder.h
  source/Encoder/include/TMIV/Encoder/Encoder.h
  source/Encoder/include/TMIV/Encoder/MpiEncoder.h
  source/Encoder/src/Encoder.cpp
  source/Encoder/src/EncoderImpl.h
  source/Encoder/src/Encoder_completeAccessUnit.cpp
  source/Encoder/src/Encoder_popFrame.cpp
  source/Encoder/src/GeometryQuantizer.cpp
  source/Encoder/src/GeometryQuantizer.h
  source/Encoder/src/MpiEncoder.cpp
  source/FramePacker/include/TMIV/FramePacker/FramePacker.h
  source/FramePacker/src/FramePacker.cpp
  source/FramePacker/src/Stage.cpp
  source/FramePacker/test/FramePacker_test.cpp
  source/MivBitstream/include/TMIV/MivBitstream/CodableUnit.h
  source/Renderer/include/TMIV/Renderer/RecoverPrunedViews.h
  source/Renderer/src/RecoverPrunedViews.cpp
Due: none

Path conditions:
  AsciiDoc: any of: .gitlab/ci/asciidoc.yml, doc/test_model/**/*
  Python formatting: any of: **/*.py, .gitlab/ci/checks.yml
  Python unit tests: any of: **/*.py, .gitlab/ci/checks.yml
  JSON formatting: any of: **/*.json
